[2013-01-09 14:06] bakura10 opened #1 "Module does not take into account module config"
Here: https://github.com/juriansluiman/SlmQueue/blob/master/src/SlmQueue/Service/PheanstalkFactory.php#L14

It should be ->config('sml_queue');

[2013-02-04 20:41] bakura10 opened #4 "Abstract some classes to handle other queue managers"
I may be using Amazon SQS for a next project (mainly because its deep integration with other AWS services).

It'd be cool to refactor SlmQueue so that it's more generic in queue handling so that we could plug support for other libraries like Amazon SQS. I'll see tomorrow if we can abstract some things more (but I'll wait you to merge my PR so that I can work on a cleaner version =)).

[2013-02-04 21:12] juriansluiman opened #5 "BeanstalkBridge::reserve can return false"
The `reserve()` action can contain a time-out, so after a while, the reserve action is stopped. This allows to run through the `while(true)` loop over and over again even if there is no job. That continuation is required because the script might receive a SIGTERM to stop running.

Can be resolved by replacing:

[code]

By:

[code]

[2013-02-08 10:44] #5 closed, assigned to juriansluiman

[2013-02-08 10:44] #4 closed, assigned to nobody

[2013-02-08 10:44] #1 closed, assigned to juriansluiman

[2013-02-08 10:45] bakura10 opened #8 "Add travis"
Can you add Travis plz ? I cannot do it because only the owner have access on travis.

[2013-02-08 13:28] bakura10 opened #10 "Change the description of the module"
Could you modify the description of the module on GitHub ? It's not only beanstalk anymore =).

[2013-02-08 20:59] #8 closed, assigned to nobody

[2013-02-08 20:59] #10 closed, assigned to nobody

[2013-02-18 13:08] stefankleff opened #14 "PHP 5.3 issues"
There is an issue with inheritance in abstract classes in PHP < 5.3.9.
See: https://bugs.php.net/bug.php?id=43200

This error occurs if you define own jobs:
JobInterface -> AbstractJob -> MyConcreteJob

Please update your composer.json or simply remove AbstractJob::execute to be compatible with versions below that.

[2013-02-18 13:14] #14 closed, assigned to nobody

[2013-02-18 22:50] juriansluiman opened #15 "Add handling of SIGTERM and SIGINT signals"
Like in the 0.1 version: https://github.com/juriansluiman/SlmQueue/blob/0.1/src/SlmQueue/Controller/WorkerController.php

[2013-03-01 20:24] #15 closed, assigned to nobody

[2013-03-01 20:27] bakura10 opened #17 "Use interfaces for queue features"
For the next update (0.3.*):
- According to what Jurians wanted, all the Packagist repositories will be moved from juriansluiman/slm-queue to slm/queue, and namespaces from SlmQueue to Slm\Queue. This will be a BC.
- Bring back the event manager to the game.
- Add features to queues and remove the extended Interface in sub-modules (for instance, SqsQueueInterface will be replaced by the SqsQueue i

[2013-03-04 11:19] basz opened #18 "BuryableException & ReleasableException __construct"
BuryableException & ReleasableException have a bit akward (not like regular exceptions) __construct(array()) method.

Unless I miss the reason for this it could be rewritten to regular style __construct($message = "", $code = 0, Exception $previous = null) and have the message and trace set to its options variable.

for 0.3 (see #17) or without BC break

[2013-03-10 00:01] basz opened #19 "signal handler must be public"
https://github.com/juriansluiman/SlmQueue/blob/master/src/SlmQueue/Worker/AbstractWorker.php#L103

[2013-03-14 11:38] bakura10 opened #21 "Pcntl problem"
Hi,

I had a problem today with some Windows machines. It seems that pcntl_signal does not work on Windows. Therefore we have to have a condition.

Already had this problem @juriansluiman ?

[2013-03-14 18:27] #21 closed, assigned to nobody

[2013-03-14 18:27] #19 closed, assigned to nobody

[2013-03-19 16:57] bakura10 opened #23 "Add timer as a stop condition"
Hi,

I've been through a small problem today. Because of the while(true), the SQS worker keeps trying to get new jobs... until either memory limit is reached or max jobs.

What I'm afraid is that because of this, the script could run indefinitely and I'm not sure PHP is good at that. I'd prefer to run the script for a few seconds, and the re-run it again as a CRON job.

Would it be a good idea to

[2013-03-25 10:08] juriansluiman opened #24 "Having a default queue (or for beanstalk "tube")"
Another thought for a v0.3 feature related to #17.

I will create various modules that are reusable for multiple applications, using a queueing service. Note with various of such modules, you will not specify which queue you use every time, you want to create a "default" queue configured.

Also, for example with beanstalkd in 0.1 I liked the way you could configure the tube used and then just requ

[2013-03-25 13:06] juriansluiman opened #26 "Use Event Manager for hooks in queueing processes"
As discussed in #17: the EM should be brought back into the Queue process so inserting and extracting jobs can be followed. Same holds for the Worker where job iterations will trigger events.

[2013-04-23 09:34] bakura10 opened #27 "More flexible queue handling"
Let's imagine the following use case: we have two environments, one for testing and one for production. We don't want to mess the production queue by adding jobs when using the testing environment. For instance with Amazon SQS a queue is identified by its name. Currently we do something like this:

[code]

This is problematic, because what this does, is retrieving the SQS queue by its name (here,

[2013-04-30 19:53] moteutsch opened #28 "Make queues push method throw named exception"
I can't tell if none are thrown, or if they are just lower-level (thrown in Guzzle) and never documented.

[2013-05-12 12:42] #24 closed, assigned to juriansluiman

[2013-05-14 09:12] #23 closed, assigned to bakura10

[2013-05-14 10:19] juriansluiman opened #31 "Enhance test suite"
Before 0.3.0 is tagged, the tests must be expanded with multiple other tests:
- [x] The worker must be tested
- [x] The queue initializer in the job plugin manager (see #29)
- [x] The queue factory uses the new type of configuration (see #27)

[2013-05-20 12:17] bakura10 opened #33 "Rename repository"
Hi @juriansluiman ,

For homogeneity purpose with how composer name packages, I think it would be a good idea to rename the GitHub project from "SlmQueue" to "slm-queue". I tried it with my own projects, it's absolutely painless, it breaks nothing (even the old URL is redirected to the new one). It just provides more homogeneity and it seems like some projects like Doctrine adopte this (as well as

[2013-05-23 10:49] basz opened #35 "Worker loop hog"
mark this as a question please.

I've noticed that the worker loop runs like crazy when no actual jobs are available...

Each pop() call will run some query, depending on the queue type. When no job are available, the loop will ensure that pop is called again immediately.

This is a resource hog... (If you send a newsletter once a week, why would i spend 10000's  queries per hour)

However I'm not

[2013-05-24 07:17] juriansluiman opened #37 "Remove casting to array in worker class"
Simplify the worker by removing the cast to array and the internal foreach loop. If multiple jobs will be processed at one time, another method would be created to do this.

[2013-05-26 12:35] bakura10 opened #38 "Introduce a autoDelete to JobInterface"
I'm thinkin about adding a new method to JobInterface: shouldAutoDelete (or getAutoDelete, not sure about the naming). This option would allow the worker to automatically delete any successful jobs from the queue.

This is needed because some systems like Amazon SQS does not remove any job from the queue when it is retrieved. Instead, it re-add it again after some time if it is not deleted manuall

[2013-05-27 10:08] juriansluiman opened #39 "Create abstract worker controller"
See juriansluiman/SlmQueueDoctrine#16

[code]

NB. There are no SlmQueue exception markers, this interface must be created too.

[2013-05-28 07:37] #39 closed, assigned to nobody

[2013-05-28 07:46] #35 closed, assigned to nobody

[2013-05-28 07:56] #18 closed, assigned to juriansluiman

[2013-05-28 07:57] #37 closed, assigned to nobody

[2013-05-28 12:17] #27 closed, assigned to nobody

[2013-05-28 13:40] juriansluiman opened #47 "Naming of concrete workers/queues/controllers in adapters"
Adapters now recognized by their toplevel namespace:
- `SlmQueueBeanstalkd\Controller\WorkerController`
- `SlmQueueDoctrine\Queue\Table`
- `SlmQueueSqs\Worker\Worker`

I suggest to adjust two things:
1. There are no `Table` or `Tube` wordings anymore
2. All queues and workers (and, optionally, controllers) are prefixed with the adapter name

An example here is how the SQS queue is named: `SlmQueue

[2013-05-28 16:47] #38 closed, assigned to nobody

[2013-07-08 17:55] bakura10 opened #54 "What do we need to do?"
Hey @basz @juriansluiman ,

I hope holidays are going smoothly for you ;-).

When you guys have a bit of time, I'd like you to review SlmQueue (the base module), and check what we have left to do for 0.3. I think everything is nearly ready, just need some polishing.

Please consider my two pending PRs, and let's open any PR for what seems missing for you :).

[2013-07-13 22:02] bakura10 opened #55 "Add documentation for events"

[2013-08-09 14:41] juriansluiman opened #57 "Write documentation about worker management (e.g., supervisord)"
Based on juriansluiman/SlmQueueDoctrine#37

[2013-10-11 11:33] glen-84 opened #58 "Add ReleasableException and BuryableException"
These exceptions are defined in both SlmQueueBeanstalkd and SlmQueueDoctrine, which ties the job to the queue implementation.

Why not define these exceptions in SlmQueue itself?

For example, instead of:

SlmQueueBeanstalkd\Job\Exception\ReleasableException and
SlmQueueDoctrine\Job\Exception\ReleasableException

Just have:

SlmQueue\Job\Exception\ReleasableException

[2013-11-12 11:02] #33 closed, assigned to nobody

[2014-01-08 17:12] bakura10 opened #66 "Serialize or JsonEncode?"
Hi everyone,

I run into a problem tonight. Actually, we json_encode the body and assume content is stored as Json. However, when storing things like DateTime... It fails when decoding and you receive an array instead of a DateTime!

My quesietons iis: for SlmQueue 0.3, should we use serialize and unserialize instead?

[2014-01-09 13:22] #26 closed, assigned to bakura10

[2014-01-09 13:22] #54 closed, assigned to nobody

[2014-01-11 12:03] basz opened #68 "license"
pick and add a license

[2014-01-13 11:20] #68 closed, assigned to nobody

[2014-01-13 11:25] #66 closed, assigned to nobody

[2014-01-15 20:56] #55 closed, assigned to nobody

[2014-01-23 09:40] juriansluiman opened #75 "Content serialization is forced within method"
Caused by #67

The method `createJob()` now [unserializes the content](https://github.com/juriansluiman/SlmQueue/blob/master/src/SlmQueue/Queue/AbstractQueue.php#L56-L69). The signature however points out you can set mixed data and you can create a job with any content set.

I am not sure how to fix it, but it don't feels right to enforce serialization of content. This makes it more complex to dir

[2014-02-26 21:44] #47 closed, assigned to nobody

[2014-03-01 09:27] #31 closed, assigned to nobody

[2014-03-01 09:27] #57 closed, assigned to nobody

[2014-03-01 09:43] juriansluiman opened #82 "Add verbose flag in command line route"
Now, the controller and worker do not notify the processing of new jobs. For debugging purposes, we might want to print a line to the command line indicating the job (and perhaps, even payload with -vv "double verbose").

This idea comes from the Laravel 4.2 release: http://d.pr/i/yidC/3kEQd2TF

[2014-03-23 15:57] #58 closed, assigned to nobody

[2014-03-23 16:01] juriansluiman opened #84 "Split job creation and job execution"
There should be no need to push jobs with its instances only. This is done to keep the data integrity OK, but it also introduces the overhead of instantiating dependencies for jobs which aren't used at all.

I know you can create proxies for those dependencies, but for new users this is quite difficult to understand. Alternatively, we can just force the job to be defined in the job plugin manager.

[2014-03-23 16:23] juriansluiman opened #85 "SlmQueue pop() fails when job name != FQCN"
During writing of the documentation I stumbled upon an issue how jobs are handles by their queues.

First, you `push()` a job into a queue. The job is serialized for JSON and there the class of the job name is given by `get_called_class()`. Then the job is stored into the queue. During `pop()`, the payload from the queue is grabbed and the "classname" of the job is grabbed from the job plugin mana

[2014-03-23 17:54] tapankumar opened #86 "Beanstalk connection issue"
Hi,

I have followed the provided installation steps and getting below error.

SlmQueue\Queue\QueuePluginManager::get was unable to fetch or create an instance for encodingQueue

Can you please suggest what is wrong with my system?

My composer.json are as below.

"slm/queue": "dev-master",
"slm/queue-beanstalkd": "0.3.*@dev"

Thanks & Regards
Tapan Thapa

[2014-03-24 04:10] #86 closed, assigned to nobody

[2014-03-27 21:01] bakura10 opened #87 "Fix failing test in Travis"
Hi,

ping @ocramius, we have a strange thing that keeps Travis test to fail because of CS fix. See the failing test: https://travis-ci.org/juriansluiman/SlmQueue/jobs/21583046

It comes from here: https://github.com/juriansluiman/SlmQueue/blob/master/src/SlmQueue/Job/JobPluginManager.php#L10

I have honestly no idea why this IDE hint fails... I've used this a lot, a lot of SDK like AWS uses this w

[2014-03-27 22:34] #87 closed, assigned to nobody

[2014-05-07 13:28] settermjd opened #89 "Zend\Mvc\Controller\ControllerManager::get was unable to fetch or create an instance for SlmQueue\Queue\QueuePluginManager"
I'm not sure what I've missed, but I keep receiving the error above and nothing seems to work. Here's what I've done:

In Composer.json I've added the following in require:

[code]

In my module's module.config.php, I've added:

[code]

In application.config.php I've added:

[code]

I've added `slm_queue.global.php.dist` and `slm_queue_beanstalkd.local.php.dist` into `config/autoload`.
I changed t

[2014-05-08 10:05] #89 closed, assigned to nobody

[2014-07-07 20:49] #85 closed, assigned to nobody

[2014-07-07 20:49] #75 closed, assigned to nobody

[2014-07-07 21:25] #82 closed, assigned to nobody

[2014-07-20 16:01] eddiejaoude opened #97 "Composer Lock file ignored?"
From Composer docs...

_Reference_ https://getcomposer.org/doc/01-basic-usage.md#composer-lock-the-lock-file

It would be safer to have this file committed & versioned, therefore it would guarantee the correct (tried & tested) dependencies.

[2014-07-21 16:49] eddiejaoude opened #102 "How can Job class update DB? Dependency is null"

[2014-07-22 07:32] juriansluiman opened #103 "Docs incorrect for job plugin manager config"
See here: https://github.com/juriansluiman/SlmQueue/blob/master/docs/3.Jobs.md#job-dependencies

[2014-07-22 10:39] #102 closed, assigned to nobody

[2014-07-24 11:48] #103 closed, assigned to nobody

[2014-07-28 14:00] eddiejaoude opened #108 "Q. How does this library compare to say Gearman?"
With the Doctrine Adapter it has more functionality with the scheduler.

Performance/Fault tolerance?

[2014-07-29 09:12] #108 closed, assigned to nobody

[2014-07-29 12:04] #97 closed, assigned to nobody

[2014-08-06 21:30] basz opened #112 "tests will always fail on OSX since SIGPOLL constant is not defined"
It is used in a test at https://github.com/juriansluiman/SlmQueue/blob/master/tests/SlmQueueTest/Worker/AbstractWorkerTest.php#L201

may be changed to '26' or some other constant. these are defined on OSX;

[code]

[2014-08-09 21:44] basz opened #114 "The service name is stored twice in the serialized data"
Once in the root of the data field and once in the metadata. Should be stored only in the metadata.

potential BC

[2014-08-09 21:47] basz opened #115 "Metadata that is of an internal nature should have underscores"
potential BC

SlmQueueXXXX's should do this too, then.

[2014-08-25 14:57] shadow-fox opened #116 "Zend\ServiceManager\Exception\ServiceNotCreatedException An exception was raised while creating "emails"; no instance returned"
Hi,
     I have followed the docs. Using [configuration](https://github.com/juriansluiman/SlmQueue/blob/master/docs/2.Configuration.md#queues) I have set up my queue,

[code]

In the Factory, I have used in a MapperFactory,

[code]

And in the Mapper constructor,

[code]

I am getting this error:
`An exception was raised while creating "emails"; no instance returned`
Also from the AWS module,

[co

[2014-08-26 07:58] #116 closed, assigned to nobody

[2014-09-16 14:03] stefankleff opened #117 "New feature: Forking"
Some time ago I added forking support:
https://github.com/goalio/SlmQueue/tree/feature/fork

Regarding this I've two questions:
1. Is forking a feature which should be integrated (=should I prepare a pull request)?
2. I've absolutely no clue how to unit test that. I need some help.

[2014-10-03 11:16] basz opened #120 "not possible to do pre-processing operations on job"
I think we have an issue with the way we handle the pre/post job strategies on 0.4.0-beta1

With the new event flow the job isn't available on the event until is has been popped by ProcessQueueStrategy. So any event listening to EVENT_PROCESS at a higher priority won't have access to the job from the event.
- EVENT_PROCESS, priority 1000    -->  $e->getJob($job) == null
- EVENT_PROCESS, priority 1

[2014-10-08 06:42] #120 closed, assigned to nobody

[2014-10-08 10:08] BnitoBzh opened #130 "Zend\Mail doesn't work with Smtp transport via SSL connection .."
I use this module to send my emails in the background via Zend / Mail, but my SMTP server allows only SSL connections.
After a few minutes of inactivity to send email, the tail always returns the same error with a message "SSL broken pipe".
Impossible to miss even creating a Mailer Service on the fly, which returns me an error like this: "SSL operation failed with code 1 OpenSSL Error messages: er

[2014-10-09 10:54] #115 closed, assigned to nobody

[2014-10-09 10:54] #114 closed, assigned to nobody

[2014-10-10 09:07] #112 closed, assigned to nobody

[2014-10-10 09:11] bakura10 opened #136 "Release v0.4.0"
ping @basz @juriansluiman

I've tested SlmQueue 0.4.0 with my app and everything seems to be working as expected now. I consider 0.4.0 as stable :).

@basz did you encounter any issue when using Doctrine?

Ideally I'd like @juriansluiman to update SlmQueueBeanstalkd before officially tagging! Do you think you will be able to address all the problems quickly ? :)

[2014-10-13 16:21] #136 closed, assigned to nobody

[2014-10-15 20:19] bakura10 opened #138 "Upgrading minimum PHP dependency"
Hi,

AWS is soon going to release a new version of its SDK, whose minimum dependency is PHP 5.4. As SlmQueue 0.4 is now very nice, I'd like that we bump minimum version to 5.4 for SlmQueue 0.5.

[2014-10-22 14:33] mikemix opened #139 "Frustrated to get queues working"
Quoting docs at https://github.com/juriansluiman/SlmQueue/blob/master/docs/2.Configuration.md, to get the queue manager I need to do:

[code]

but this code does not work and returns an error:

[code]

In the docs there are a lot of examples on injecting the queue from the constructor:

[code]

But there's no example how to instantiate the queue object. Except for one mentioned at the top, which i

[2014-10-22 15:02] #139 closed, assigned to nobody

[2014-10-23 14:44] jeremyquinton opened #141 "New events causes confusion"
From version 0.3.\* to 0.4.0 some events were removed. A previous developer bound to the events so he could log when an event went on the queue and when it was popped off the queue and also when a worker stops and starts.

I had to upgrade slmQueue to 0.4.0 for a new feature but Im not sure which events to now listen for.
If you could let me know I can do a PR for the documentation. This is a BC b

[2014-10-24 10:24] #141 closed, assigned to nobody

[2014-10-28 01:16] EMCP opened #142 "Documentation cites an unfound Factory"
I do not see this mentioned factory anywhere in SlmQueueBeanstalkd's codebase.  Am I missing something or is this an older factory name?

Source : https://github.com/juriansluiman/SlmQueue/blob/master/docs/2.Configuration.md

[code]

[2014-10-28 01:17] #142 closed, assigned to nobody

[2014-10-28 15:19] bgallagher opened #143 "Return JobStatus value object from Job to update job's state"
Reading the documentation on Job Status Codes (https://github.com/juriansluiman/SlmQueue/blob/master/docs/3.Jobs.md#job-status-codes) it indicates that Jobs can return a status code. However from reading through the worker code it would seem like a return value from the Job is never evaluated? See https://github.com/juriansluiman/SlmQueueSqs/blob/master/src/SlmQueueSqs/Worker/SqsWorker.php#L31 - (

[2014-10-30 15:09] eddiejaoude opened #144 "Total number of jobs on the queue"
Is there a way to get the total number of remaining jobs on the queue?

[2014-10-30 17:17] #144 closed, assigned to nobody

[2014-10-30 21:40] EMCP opened #145 "Proper way to get JobPluginManager isn't clear"
I'm attempting to inject the Job Plugin Manager and getting a Dependency not found error.

ServiceFactory.php

[code]

My `QueuePluginManager` is working, but it's not liking the `JobPluginManager`.

My config file

[code]

[2014-10-30 22:07] #145 closed, assigned to nobody

[2014-10-31 00:21] EMCP opened #146 "JobPluginManager ServiceLocator only contains the job_manager Factories"
I'm trying to instantiate a Job with a dependency that resides in the General ZF2 Service Locator, but the ServiceLocator being passed into the Factory only contains the entries for `slm_queue`

How can i attain the overall superset of factories?

autoload/slm_queue.global.php

[code]

ServiceController class

[code]

ServiceControllerFactory class

[code]

[2014-11-05 18:54] #146 closed, assigned to nobody

[2014-11-12 17:26] pensiero opened #148 "ProcessQueueStrategy trigger jobs 2 times"
If ProcessQueueStrategy is enabled, my jobs are triggered 2 times. Is it normal?

Thanks

[2014-11-20 23:07] EMCP opened #149 "XDebug support writeup?"
I am now happily utilizing `SlmQueue` via `Beanstalkd` , with one problem.

XDebug is halting on regular calls made to my ZF2 application, but Queue'd Job code is not..  Any ideas why?  Do I need to pass a flag on startup of the Queue Worker?

I'll be glad to write up more once I get it working.  Does the Queue worker use `/etc/php5/cli` runtime?

`/etc/php5/apache2/php.ini`

[code]

[2015-01-22 08:48] stefankleff commented on #117
Hi Bas,

I don't think that it provides an advantage regarding the overall memory footprint.

My use case:
I'm running some intense calculations with lots of database queries in my jobs. I'm using ZF2 and Doctrine ORM. Often there is some kind of memory leak, like in Doctrine, and some object references are still stored somewhere after the job has finished. Therefore the garbage collector is unabl

[2015-01-22 08:56] stefankleff opened #153 "Redis support"
Is anybody already working on that?

We're currently switching our cache backend to redis and I like to use that as queueing backend too. But I also like to stick with SlmQueue. If no work is done yet, I can start to write that. But I'm not yet very familiar with Redis. So I need to glimpse at the php-resque(-ex) and Laravel implementations and may need some help as well as a review.

[2015-01-22 13:15] bakura10 commented on #153
Hi,

No work has been done, but maybe @juriansluiman can open a SlmQueueRedis ? :)

[2015-01-22 14:24] juriansluiman commented on #153
No, no work has been done yet but a while ago I gave it some thought. @stefankleff if you want we can collaborate on a Redis backend for SlmQueue.

A few things worthy I have thought about:

1. Check [the slides](http://www.slideshare.net/rosstuck/redis-for-the-everyday-developer/154) from Ross Tuck about Redis and esp. from slide 154 and on about queues.
2. Redis has a PHP extension (fast!) and a

[2015-01-23 15:12] basz commented on #117
Are you aware of the max_runs settings? Designed to halt the worker after a certain executions.

That said, since the process stops and supervisor (or whatever) needs to notice this and restart the complete stack this can take a relatively long time. Don't know how that compares to a fork but if it is significantly faster then this would be a useful addition.

[2015-01-26 09:24] stefankleff commented on #153
Sounds good! I hope that I can start working on that within next week

[2015-01-26 09:44] juriansluiman commented on #153
See juriansluiman/SlmQueueRedis#1 for the issue I opened to get started. I have made a small outline, but if you have alternative ideas you can completely ignore those.

[2015-02-05 19:34] basz opened #154 ".idea in repo"
Is there a reason we now have .idea in the repo? https://github.com/juriansluiman/SlmQueue/tree/master/.idea i would guess its a mistake?

[2015-02-05 19:53] bakura10 commented on #154
Pretty sure it's my mistake. Blame me of not having a global .gitignore :).

[2015-02-05 19:58] #154 closed

[2015-02-15 15:06] bakura10 opened #157 "[IDEA] Generic object to delay work"
Hi,

I don't know how do you handle your jobs, but I end up creating a lot of small jobs whenever an operation do more than 2 HTTP calls to other services, or when I know the task will take some time.

To that extent, I have a lot of small jobs, whose only job is simply delaying to the service layer. For instance:

[code]

I have tons of them and it's only boring to write. Couldn't we actually thi

[2015-02-17 07:55] malinink opened #158 "Unique jobs in queue"
Hi, is there any way to check whether job is already in the queue?
I need to add new job in the list, but i dont want to iterate over all of them to be shure that it is not exists.
Unique key on fields(queue, data) will help, but I think it will crush SlmQueue.

Thank you!

[2015-02-17 08:10] basz commented on #158
There is no supported manner in which to check if a particular Job and a specific payload is already on the queue.

Your suggestion to make the queue / data unique will (afaik) only work in the Doctrine adapter, but should work i'm guessing. You would need to catch exceptions and make sure processed jobs aren't removed from the db. You would be forcing all queue's to behave this way, which might n

[2015-02-17 08:23] malinink commented on #158
I hope that i miss something and that functional already exists.

So, I'll try to make world better.

Thank you for detailed answer!

[2015-02-17 08:23] #158 closed

[2015-03-02 22:25] basz commented on #157
I'm assuming you have some sort general idea?

[2015-04-08 13:05] kusmierz commented on #149
put this code into `/usr/bin/xdebug`:

[code]

next you can run `xdebug public/index.php queue [...]`. Good luck!

[2015-04-08 13:46] kusmierz opened #160 "Limit WorkerEvent::JOB_STATUS_FAILURE_RECOVERABLE jobs"
As far as I understand, throwing an exception in a job (any `\Exception` for [Beanstalk](https://github.com/juriansluiman/SlmQueueBeanstalkd/blob/master/src/SlmQueueBeanstalkd/Worker/BeanstalkdWorker.php#L39), [Redis](https://github.com/juriansluiman/SlmQueueRedis/blob/master/src/SlmQueueRedis/Worker/RedisWorker.php#L39) and [SQS](https://github.com/juriansluiman/SlmQueueSqs/blob/master/src/SlmQue

[2015-04-08 14:50] juriansluiman commented on #160
Seems a sane idea :+1:  Haven't looked at the code that much, @basz and @bakura10 might have an opinion about it as well.

[2015-04-09 23:02] ltouro commented on #149
my IDE starts XDebug with CLI like this
C:\xampp\php\php.exe -dxdebug.remote_enable=1 -dxdebug.remote_mode=req -dxdebug.remote_port=9000 -dxdebug.remote_host=127.0.0.1 index.php queue doctrine LtEmail\Queue\EmailQueue --start

[2015-04-10 21:23] bakura10 commented on #160
I find the idea nice, however this does not apply to SQS :).

SQS keeps track itself of how many times a job was received, and has a feature called "dead letter queue". You can configure to say SQS "hey, after 50 tries, remove the job, or move it to another queue called the dead letter queue for inspecting what happen and why it failed). So I'd be afraid that such a mechanism would enter into conf

[2015-04-13 08:11] kusmierz commented on #160
@bakura10 I was looking into, and can't find any similar mechanism for Beanstalk. Nevertheless, you probably can't find for Doctrine and Redis either :) So SQS is exception here.

BTW - I don't think it would be a conflict (as long as you exactly know where and what limit is set).

1. SQS limit > Slm limit - nothing happened in fact - SQS removes job earlier, Slm worker doesn't get it anymore - bu

[2015-04-24 12:24] bakura10 opened #162 "[IDEA] UnitOfWork"
Hi everyone,

When reading a bit about the command/event bus pattern, I often see things about asynchronous events.  When an event is triggered somewhere, multiple listeners may be hooked to the event bus. Some of those events would be done synchronously, but some of then would be done asynchronously.

However, one problem is that if you have, let's say, 3 events to do asynchronously, this would r

[2015-04-24 18:42] ltouro commented on #162
What about something like this:

[code]
Just an ideia. I don't know how safe it is to use deconstruct.

[2015-04-24 20:41] bakura10 commented on #162
Yeah but the fact that it decorates a queue make it less flexible. My interface idea you could even push to different queue (potentially using different adapters) in a homogeneous way.

[2015-04-28 13:39] basz commented on #162
Hi Bakura, I kind of follow what you are trying to solve here, please correct me if i'm wrong.

"You don't want jobs added to the queue until all listeners are done mainly because it is inefficient to add them one by one to the queue"

I think this Commiter class would help you there, yes. No really appropriate to Doctrine though (see the 'update' at http://www.doctrine-project.org/2009/08/07/doct

[2015-04-28 13:45] bakura10 commented on #162
I suspect that in Doctrine, evne wrapping everything in one transaction instead of many small one would already be beneficial, actually.

I'm currently ultra busy with front-end job, but once I'm done I'll try to come up with the code (or feel free to implement this idea at least on SlmQueue, on SlmQueue we basically only need the Comitter interface and an abstract class).

[2015-04-28 13:59] basz commented on #162
@bakura10 yes that's true indeed. Would require a table type that's capable of transactions which we provide by default. I see no complications for SlmQueueDoctrine

[2015-04-28 18:51] juriansluiman commented on #162
Cool idea! Haven't thought about it this way, but with batch processing and transactional updates, you kind-of get to this topic too. Some comments:

@bakura10

I am not sure it is such a good idea to mix a "committer" over different queues. I am not really sure, but like common DBAL implementations, you have a transaction per underlying system, so should you really create an umbrella for all of t

[2015-04-28 18:57] bakura10 commented on #162
I agree, and batch processing works really well actually, but as I told, what if you trigger an event and that five completely unrelated listeners need to add a job?

How can you implement batch processing in this use case?

With the future feature of middleware in zf3 it will be quite easy to actually register a new middleware that run at the end and that is responsible for flushing everything.

[2015-05-01 09:07] juriansluiman commented on #162
Well, I haven't thought about the middleware case even yet, but now I see where you're heading.

Reading more about the UoW pattern, I guess this should be the way to go. If you simply rename your WIP title from "Committer" to "UnitOfWork", we already have a great start. I guess we have to think about two things:

1. Do you want to track jobs for all available queues, or have a dedicated UoW for e

[2015-05-01 09:24] bakura10 commented on #162
I've updated the title.

1. I think the unit of work should be agnostic of queue. You add a job to the unit of work, to a given queue. It is then the adapter that is responsible to push everything in the most efficient manner. For example SQS does not allow to batch push to multiple queues, so it will iterate them all.

2. Hhhmmm... I'm not sure. Will think about it.

[2015-06-30 12:50] malinink opened #163 "Troubles with MaxMemoryStrategy"
Hello, I have met interesting bug.

I have zf2 application with Doctrine2 (ORM + ODM(mongodb)) with configured queue called 'fetch'

I use it's own config:

[code]

Queue works fine, but my server goes down cause of swap....

I found that the main reason is ram, that used by queue.
In htop there are all fetch processes:
![fetch](https://cloud.githubusercontent.com/assets/5726553/8431079/98a2d2b6-1

[2015-06-30 13:26] basz commented on #163
Not sure what is going on, but you might try to debug the measurements within your job at several places...

Suppose a job starts with a memory usage of ~15Mb on invocation of it's execute method. During its work it might consume lots of memory (eg. image processing) which isn't detectable by the MaxMemoryStrategy if the job cleans up after itself correctly. The MaxMemoryStrategy only detects memo

[2015-07-02 18:14] malinink commented on #163
Hi, I make research before that and I catch that, but even one process with that configure could be more than 100Mb, In my particular case one thread is 173Mb, others 75, 70, 65 and 60Mb respectively.

I can't catch why that thread take so much memory. May be you have any ideas what else could I do to resolve problem?

[2015-07-28 05:42] malinink commented on #163
After more research I found way to get real system memory consumption

[code]
But I don't really sure that it's a good idea to use that code in MaxMemoryStrategy by default,
I could do one more option to choose getUsage algorithm, what do you think?

[2015-07-28 08:18] malinink opened #164 "Strategy doubles"
It is feature? when the same strategy defined twice:

[code]

It cause two separate `MaxMemoryStrategy` strategy attached to Queue, so I have double memory checks.

I don't really know is that normal way it should work, so I decided to ask that here.

[2015-07-28 08:31] basz commented on #164
Yes, this is the expected behavior. I found this not very handy either. But for some reason - that I can't remember exactly right now - things turned out this way...

[2015-07-28 08:54] basz commented on #163
My opinion is that if you really need this functionality you could create a PR for it (and yes some sort of option to enable such a feature would be best), but I honestly don't expect much from it. But then again I don't (can't) accept PR's for this repo :-) (ping @juriansluiman)

Consider the following first.

As said earlier this strategy only measures between jobs. If a job consumes a lot of me

[2015-07-28 09:41] malinink commented on #164
Thanks, it wasn't clean for me!

[2015-07-28 09:41] #164 closed

[2015-07-28 09:48] malinink commented on #163
Thanks a lot, I catch that!

I will think about breaking down my code, of course it's memory leaks. I just thought that 'real' measure will be better, because it could restart process depending on real memory limits.

[2015-08-01 15:31] bakura10 opened #166 "SlmQueue 0.5"
Hi everyone,

It's been a few months that SlmQueue 0.4 is out, and it's time to start working on the next version, aka 0.5 (my plan is to have 0.5 as the last version in the 0.x branch, and then going to 1.0 once we have modernized ZF components like new SM, new Event Manager... so we can start on modern foundations :)).

Here are a few features that emerged:
## Unit of Work

See #162

Idea: as of

[2015-08-12 15:31] basz commented on #166
Nog sure how this would Work. That aside - the naming is off imo. anything pushed onto a queue is by definition delayed. I see no conceptual difference between a job instance and a callable being pushed. Also, delay is an actual argument to the push method.

Discussing implementation. The push method could detect if it is a callable that is being pushed and ifso wrap it into a CallableWrapperJob o

[2015-08-12 15:35] basz commented on #166
I would love it if queue and worker strategy configuration would be mergeable - makes more sense I believe. For some reason I forgot this was near impossible. Just noting it down here.

[2015-08-31 16:17] bakura10 commented on #166
Okay, in order to increase dependency of other modules, I'll tag this as 0.5 (so 0.5 is mainly a bump increase, with no feature change). Everyone's okay with that @juriansluiman @basz ?

[2015-09-01 05:00] jackdpeterson opened #167 "Documentation question - How to get to the queue from a service class (outside of controller plugin)"
First of all, thanks to all of the contributors on this project. This is an absolutely fantastic module.

I do have one question after pouring through the documentation and perhaps someone has an answer to this.

I have most of my core busines functionality ran from service classes that are fat and really thin controller methods (Apigility REST api -- code connected). How does one access the Queue

[2015-09-01 07:19] bakura10 commented on #167
Hi !

The QueueAwareInterface, as documented here: https://github.com/juriansluiman/SlmQueue/blob/97e16e9d87b39e98184276d36faddb8dd85da23c/docs/4.QueueAware.md only works for job.

The problem by using this interface for your service is that even if you create an initializer, how the initializer could know which queue inject into a given service? It cannot know.

That's why I think injecting the q

[2015-09-01 13:04] juriansluiman commented on #167
And an addition, inject the proper queue with your service factory:

[code]

See also https://github.com/juriansluiman/SlmQueue/blob/master/docs/2.Configuration.md#queues

[2015-09-01 16:49] jackdpeterson commented on #167
Thanks, that's exactly what I was looking for. This worked like a charm!

[2015-09-01 23:41] jackdpeterson commented on #167
Thanks for this. It looks like I'm about halfway there to being able to submit jobs properly.

When using invokables things appear to work just fine.

When using factory-instantiated jobs -- it's another story. I'm not sure if my application is configured oddly or I'm just doing something wrong ... but here's what I'm getting:

[code]

error:

Sep  1 23:34:22 com Zend\Log[1360]: PHP Fatal error:

[2015-09-02 06:03] jackdpeterson commented on #167
I'm guessing that I need to inject in the Entity Manager using something along the lines of a worker strategy.

I've tried using the trait provided by doctrine orm module; however, that too didn't return a working entity manager.

As far as I understand the docs far it seems like I would need to:
1. push in the entity manager around EVENT_PROCESS_JOB w/ priority around 100.
---> somehow have that

[2015-09-02 18:04] basz commented on #167
If you have any dependencies in your job you should (well are encouraged) to create a factory for that particular job.

The factory must then be registered within the configuration of slm-queue for the job plugin manager (which is a service locator)

Then within your factory you should be able to pull any dependency from the service locator and pass it along to the job constructor. The global serv

[2015-09-02 20:31] jackdpeterson commented on #167
@basz

Thanks! That's actually the magic there that did the trick: adding in that parentlocator fetching tidbit.

$parentLocator = $serviceLocator->getServiceLocator()->get('doctrine.entitymanager.orm_default'); and then passing that in to my job as a dependecy.

Rockstar.

[2015-09-02 20:31] #167 closed

[2015-09-04 04:14] jackdpeterson opened #168 "Large job size exceptions -- nothing visible at worker view"
After playing with a worker and passing somewhat large jobs to beanstalkD and wondering why jobs were just hanging there with no obvious reason for failure I finally wrapped my queue->push($job) in a try catch and discovered exceptions were being thrown but not caught and displayed anywhere that I could tell.

I'd like to propose a number of potential solutions for discussion:

1. echoing out exce

[2015-09-04 17:18] basz commented on #168
Hi,

just a few things to clarify that are not clear to me and some random thoughts...

- exceptions not being visible is not related to the -size- of the job, no? Edit: I just saw the payload can be to large for some backends.
- `queue->push($job)` is not what you call the 'worker view’. This issue is with the 'queue->pop()’? (processing the queue by  the worker)

That being said...
- SlmQueueDoc

[2015-09-27 06:52] di-sysops opened #170 "General discussion - reporting on workflow state"
Hello fellow developers, this is not an issue per-se with the SlmQueue module specifically, but rather, a question about how one ought to report on the state of a given workflow.

For the sake of this discussion, let's assume we have just a single default queue.

We have a workflow consisting of the following three steps (based on the examples used in this module's documentation)
1. fetch changes

[2015-09-30 03:42] jackdpeterson commented on #168
Thanks for following back up. I suppose I would like to see a default logging adapter in place as default condition or at least a recommended (and documented) default that pushes to syslog if available or out to stderr (if that's not already the case). SQS appears to have a max payload size of 256kb and BeanstalkD has a configurable max payload size. While one could and probably should go about wr

[2015-10-13 17:02] jackdpeterson commented on #170
Hello all,

For those who have this issue, the following ZF2 module is designed to solve this problem as a whole.

I anticipte marking it as stable after some additional testing in a real environment.

https://packagist.org/packages/jackdpeterson/immutable-state-status-tracker

[2015-10-13 17:18] di-sysops commented on #170
Thanks!

[2015-10-13 17:18] #170 closed

[2015-10-29 10:16] itailulu opened #171 "Where to add event listener"
It's not clear (at least for me) where you suppose to attach event listeners (specifically i'm referring to https://github.com/juriansluiman/SlmQueue/blob/master/docs/6.Events.md#do-something-before-or-after-the-processing-of-a-job)
Can anyone shed some light on the subject?

[2015-10-29 14:40] basz commented on #171
You would start by creating an aggregate listener class with code as in your link above. Step two is adding that aggregate listener to the event listener. onBootstrap in your module.php is a good place to do that.

Have a look at this in depth [article](http://www.michaelgallego.fr/blog/2013/05/12/understanding-the-zend-framework-2-event-manager/) on the event manager.

[2015-11-12 18:06] jackdpeterson opened #172 "Documentation request - how to safely kill workers"
Hello all,

When we wre rolling out new releases of our code we would like to ensure that jobs stop and start safely without just barfing and dying mid-way through.

$ sudo service supervisord restart seems like a terrible, but highly effective approach at stopping and restarting processes (okay if we can accept data loss anywhere and everywhere with any job).

Similarly, using the internal superv

[2015-11-12 21:03] basz commented on #172
simply set the stopwaitsecs option of the supervisor config to something higher then your longest running jobs.

setting the maximum jobs to be executed to 1 doesn’t solve your problem.

I use, were my longest running jobs are maximum one minute;

stopwaitsecs=120 ; max num secs to wait b4 SIGKILL (default 10)

[2015-11-12 21:40] jackdpeterson commented on #172
So, just for clarity... when supervisor sends a stop signal ... no further jobs are processed by the worker process? Then it's just a matter of waiting for the job to actually die off. Correct?

[2015-11-12 21:42] basz commented on #172
as long as php has the pcntl extension installed. yes.

[2015-11-12 21:58] jackdpeterson commented on #172
Cheers!

[2015-11-12 21:58] #172 closed

[2015-11-16 20:24] basz opened #173 "InterruptStrategy not working with PHP7"
On PHP7.0.0-beta5 the InterruptStrategy is not working. So after rereading all pcntl documentation I think I have found the problem (but then again it could be just a bug in PHP).

Apparently the declare(ticks=1) statement should go around the code you need to be interruptable. So when I modify SlmQueue/Worker/AbstractWorker in the following manner the interrupt is working again. Also I commented

[2015-11-27 13:13] basz commented on #173
closing as PHP7.0.0-RC8 is confirmed to have fixed this problem... workers can now correctly be halted

[2015-12-01 04:41] jackdpeterson opened #174 "Abstract Queue causes fatal error when data is not unserializable"
It appears that some of the logic in AbstractQueue.php is very sensitive to the data that can enter in from what ought to be considered a relatively untrusted source (the queue). A good example of this is if a queue can be published to by something other than SlmQueue(SQS in this case).

I'll be submitting a PR for the fix to this; however, the error is related to an invalid operand type. The fix

[2015-12-01 04:42] jackdpeterson commented on #174
This can be reproduced in SlmQueueSQS by having a queue subscribed to events in AWS like an CloudWatch alert; however the logic errors are in SlmQueue. This will cause an unexpected 500 Fatal with an invalid operand type.

[2015-12-09 14:28] basz commented on #173
I'm reopening as `supervisorctl stop my-worker` is not halted my worker as it should. Running PHP7.0.0 a.t.m.

[2015-12-09 21:02] basz commented on #173
[code]

[2015-12-14 21:20] basz commented on #173
@juriansluiman @bakura10 have you run into this too on php 7.0.0 (fresh Ubuntu 14.04 box, ondrej ppa)? I can confirm that cntr-c won't halt my worker unless I surround to worker loop like so, but I can't help to think I'm overlooking something.

Would it hurt to PR this? Kind of annoying as my deploy scripts now wait until supervisor waits for it's maximum and kills the worker anyway.

[code]

[2015-12-15 08:25] bakura10 commented on #173
Hi @basz ,

I have not used SlmQueue with PHP 7 yet. @juriansluiman any idea?

[2015-12-15 15:30] basz commented on #173
@bakura are you able to manually test this on a pre PHP7. I now have now no PHP5 installs to quickly test.

[2015-12-16 22:57] basz commented on #173
I just confirmed that the proposed PR still works on a PHP 5.5.9 installation. Can we tag this as hotfix/patch release?

[2015-12-23 21:47] basz commented on #173
closed by #175

[2015-12-23 21:47] #173 closed

[2016-01-03 20:46] antonycox opened #176 "Clarify unit and how to set maxpollingfrequencystrategy"
Hi. Can you confirm what value should be used, and how is it set? For example, how would you define a frequency of once a minute? And where should you set that value (whatever it is?)

[code]

Thanks in advance for clarification.

[2016-01-04 12:09] basz commented on #176
Have you read [this](https://github.com/juriansluiman/SlmQueue/blob/9a50503af11a708cfb80a6031d2d88a924459744/docs/6.Events.md#maxpollingfrequencystrategy)? If I read that correctly 'once every minute' would require a value of '0.0167'.

[2016-01-11 19:46] jackdpeterson opened #177 "Best practice question surrounding connection-sensitive dependencies (e.g., database connections)"
When using serices that rely on Doctrine ORM or otherwise on may get periodic database connection error (entity manager closed), or PDO failures if just using straight PDO. MySQL in particular kills a connection after an hour. Because SlmQueue jobs are effectively long-running php processes and _could_ be terminated using a variety of strategies (I didn't see time in there) I'm curious about what

[2016-01-11 20:10] basz commented on #177
I published this module https://github.com/bushbaby/BsbDoctrineReconnect which does the job

[2016-01-13 23:18] jackdpeterson commented on #177
I love this. I may also add a reference to this in https://github.com/jackdpeterson/ImmutableStateStatusTracker module -- which currently uses a ping() and reconnect method to restore connections. This approach seems a little cleaner.

[2016-01-14 06:41] jackdpeterson commented on #177
I'll keep this open a little longer for aggregating some other (non-doctrine-specific areas). Thinking about this, while I use Doctrine -- and many other ZF2ers do as well, it's not the only kid on the block. So I'll keep this open until we have some other answers for non-Doctrine users. @basz, your answer is perfect for doctrine folks and I'm testing it out locally right as I type this.

[2016-02-25 17:53] psychowico commented on #177
hey. I use basic zf2 `Zend\Db\...` interface - driver directly and `AbstractTableGateway`. My solution for this problem is simple abstraction - I created `BaseJob` class that extend `SlmQueue\Job\AbstractJob`. Then I override `execute` function.

[code]

This code was simplified.
This solution have small potential problem. If our job make storing some state in diffrent place that database (e.g. re

[2016-03-16 22:01] jackdpeterson commented on #177
Another (heavy handed) approach would be:

[code]

[2016-04-24 19:08] malinink opened #179 "SM3 compatible"
I would like to provide it.

It could be done with BC.

[2016-06-11 19:42] #149 closed

[2016-06-29 19:32] basz commented on #179
0.6 has been released with this in mind

[2016-06-29 19:32] #179 closed

[2016-06-29 19:33] #176 closed

[2016-06-29 19:39] #148 closed

[2016-06-29 19:39] #138 closed

[2016-12-01 12:09] kokx opened #188 "Allow binary data for job contents"
Currently, it is impossible to put binary data in a job. `unserialize` will work fine with this, and correctly serialize this data. However, `json_encode` will give the following error:

[code]

[2016-12-01 16:45] basz commented on #188
you could base_encode before you place it on the job content and base_decode when you need the data inside the job.

[2016-12-05 13:18] kokx commented on #188
That is indeed a solution. However, that makes things much more complicated when you are passing objects (obtained from external libraries) into a job, for which it is much harder to cleanly use `base64_encode` on their internal (binary) data.

[2016-12-05 13:36] basz commented on #188
I have a couple of concerns with this addition

1. it breaks compatibility with existing queued jobs.
2. increases size of ALL jobs by 33%.
2. but more importantly base64 serialises in a way the makes it 'impossible' to inspect for ALL jobs...
I use the doctrine adapter myself and routinely inspect rows in the database while debugging.

to counter your argument above; this is not complicated...
[c

[2016-12-05 15:04] kokx commented on #188
I completely see your concerns, and actually I've had those concerns myself as well.

I think that introducting `BinaryMessageInterface` for jobs would be a great solution for this. I will work this into the PR.

[2016-12-05 15:04] bakura10 commented on #188
I agree. This is a massive BC. We did that at the beginning of the library but now it has so many users I'd like if we could find another way. The idea of "BinaryMessageInterface" is better imho.

[2016-12-05 17:09] jackdpeterson commented on #188
I personally wouldn't mind a BC with a new version number.  if we could get rid of the php's serialization method (optionally, but retain as a default) and wrap that functionality in a serializing / unserializing interface then that's be great IMHO. The perspective I'm thinking about is if someone is supporting a project that has back-end(s) in multiple languages (e.g., PHP and Java) ... having a

[2017-01-12 13:17] #188 closed

[2017-02-01 13:18] davidwindell opened #192 "Unsupported operand types"
I'm seeing the below error intermittently, not quite sure why (at https://github.com/juriansluiman/SlmQueue/blob/master/src/Queue/AbstractQueue.php#L65).

[code]

`$metadata` is:
[code]

[2017-02-01 14:15] basz commented on #192
hi

$metadata should not be an object

as `[] += {}` will fail.

do you use the new BinaryMessageInterface on your jobs?

What queue adapter are you using?

[2017-02-03 00:22] davidwindell commented on #192
Hi @basz, it's the Doctrine Queue, the next step up in the stack track is at https://github.com/juriansluiman/SlmQueueDoctrine/blob/master/src/Queue/DoctrineQueue.php#L177.

[2017-02-03 09:22] basz commented on #192
Which version?

'composer show'

And do you use the newly introduced binaryjobinterface on one of your jobs?

[2017-02-03 15:42] davidwindell commented on #192
[code]

All jobs extend `SlmQueueAbstractJob`

[2017-02-03 18:02] basz commented on #192
Ok so not the problem is not with latest release, which is good.

I have no idea why this error happens other then that the metadata is an object. Can you tell me if you do anything strange when creating a job? Or inside it and reading it. Do you use setting metadata yourself?

Additionally; it might be useful to inspect the data field in the db to deter main if it the push or the pop job side of

[2017-03-01 21:37] basz opened #193 "InterruptStrategy.php replace declare ticks with pcntl_signal_dispatch"
declaring ticks is more expensive then pcntl_signal_dispatch

https://github.com/juriansluiman/SlmQueue/blob/a4f09a1c4dece7fd2d94498249affb8dea7e07b1/src/Strategy/InterruptStrategy.php#L60

[2017-03-04 12:11] iit2011081 opened #194 "Cannot use 'String' as class name as it is reserved in phar"
When I tried to install using composer I get this error "Cannot use 'String' as class name as it is reserved in phar". Is it because the library is incompatible with php7 ?

[2017-03-04 12:18] basz commented on #194
No I use this lib with php 7.1 without issues

[2017-03-04 12:20] iit2011081 commented on #194
Any solution ?

[2017-03-04 13:12] basz commented on #194
Try composer.phar selfupdate

[2017-03-04 13:24] iit2011081 commented on #194
I already tried but it says  Command "self-update" is not defined.

[2017-03-04 13:49] basz commented on #194
Seems you a very old composer version. Simply download the latest one

[2017-03-04 14:36] iit2011081 commented on #194
I tried updating it but it says composer is already the newest version

[2017-03-04 16:05] basz commented on #194
Ok, could tell me exactly what you are doing. Do you get any other information then the mentioned error message? Try running composer in verbose mode.

[2017-03-04 16:08] iit2011081 commented on #194
I am getting this error when i tried to install the library. How to run it in verbose mode ?
PHP Fatal error:  Cannot use 'String' as class name as it is reserved in phar:///my_project_folder/composer.phar/vendor/justinrainbow/json-schema/src/JsonSchema/Constraints/String.php on line 18

Fatal error: Cannot use 'String' as class name as it is reserved in phar:///my_project_folder/composer.phar/ven

[2017-03-04 16:43] basz commented on #194
https://getcomposer.org/doc/03-cli.md#global-options

What php version are you using?

php -v

[2017-03-04 17:17] iit2011081 commented on #194
php 7

[2017-03-04 17:34] basz commented on #194
I have no idea what your issue is, but it seems unrelated to slmqueue

[2017-03-18 07:09] iit2011081 commented on #194
Closing the issue as it is related to composer not with the library

[2017-03-18 07:09] #194 closed

[2017-03-18 10:35] iit2011081 opened #197 "If I just want to use Beanstalkd then can i use only SlmQueueBeanstalkd"
I want to use Beanstalkd for queue so can I use only SlmQueueBeanstalkd or do I need to also use SlmQueue.  I am using SlmQueueBeanstalkd but getting error.

In the controller I have created following things according to the document
[code]
When I go to the url /email it is showing 500 error because the constructor is expecting one argument and I am not passing any argument. When I try to run foll

[2017-03-21 20:25] basz commented on #197
SlmQueueBeanstalkd requires SlmQueue. It can not work without it.

To use the queue inside of an controller, you can use a [controller](https://github.com/juriansluiman/SlmQueue/blob/master/src/Controller/Plugin/QueuePlugin.php
) plugin. Simply call `$this->queue()->push($job)` within an controller. There is no need to inject dependency yourself. You *could* but then you should provide a factory.

[2017-03-21 20:26] basz commented on #192
Did you have anymore info on this?

[2017-03-21 20:30] #171 closed

[2017-03-27 11:14] iit2011081 commented on #197
I installed SlmQueueBeanstalkd and I think it will automatically install SlmQueue. This is my directory structure and check everything is installed or not ?
![imageedit_2_2898010272](https://cloud.githubusercontent.com/assets/9371846/24353737/a3cda39c-130c-11e7-9681-2832caa1c814.jpg)

[2017-03-27 11:15] basz commented on #197
yup, thats correct

[2017-03-28 05:39] iit2011081 commented on #197
Is there anything which I need to install ? I am still getting the same error

[2017-03-30 18:55] basz commented on #197
For the controller action or the cli command?

Did you configure to display exceptions? That will tell you what part is problematic...

[2017-03-30 20:09] iit2011081 commented on #197
For the controller action. I don't know how to configure display exceptions. The problem is I have defined following constructor in the controller.
[code]
So obviously it will show error When I go to the url /email  because the constructor is expecting one argument and I am not passing any argument.

[2017-03-30 20:13] basz commented on #197
you do not need to inject the service into your controller as in controllers have a melanism called plugins for we provide a one called `queue`. simply remove that constructor (arguments)

[2017-03-30 20:19] iit2011081 commented on #197
It is showing Call to a member function push() on null when I use $this->queue()->push($job) with the controller. When you say "To use the queue inside of an controller, you can use a controller plugin", How to use the controller plugin, is it already installed with my setup(see pic which I shared earlier) ?

[2017-03-30 20:22] basz commented on #197
that means the plugin wasn't registered correctly

if you run `composer show` what do you see?

did you add the module to the application configuration in `config/application.config.php`?

[code]

[2017-03-30 20:24] jackdpeterson opened #199 "Genericize the SlmQueue project into the non-ZF bits and the ZF-required bits for broader adoption"
Currently, the implementation of SlmQueue appears tightly coupled to the whole ZF Event Manager side of things. Making this project generic would make these abstractions more useful across a broader set of PHP projects (e.g., very lean PSR-7-driven APIs).

Is this something that's currently under consideration for this project at this point in time?

My initial thoughts would be to expose interfac

[2017-03-30 20:38] basz commented on #199
It's not considered at the moment, but your points are valid. That said it is possible to use this module outside an zend framework MVC application. Myself is using it in an expressive application without any problems. I only needed to recreate a cli command to start the doctrine queue.

I would like to see a more generic v2 version. PHP 7 only. Unfortunately I simply don't have the time to do tha

[2017-03-30 20:45] jackdpeterson commented on #199
Well, to be honest ... I've gone away from the event-driven system style of development for much of my backend development these days. I find being more explicit in my code has led to more sane debugging processes and provides for more coherence for folks who are also picking up a new microservice I'm working on or otherwise. So to me the Event-driven side of things is less than useful / ideal. Ot

[2017-03-30 20:48] basz commented on #199
I agree, events can be hell to debug. But to change something that works for the sake of change, no at this time.
However I encourage you to come up with a different solution if you require one for v2... :-)

[2017-03-31 06:02] iit2011081 commented on #197
When I run composer show it is showing following things
[code]
and this is my config/application.config.php

[code]
vendor is already included in module_paths , do I still I need to include SlmQueue in my application.config file ?

[2017-03-31 09:58] basz commented on #197
Yes you must 'register' zend modules as such into the zend mvc layer.

The vendor directory is auto load able by php.

Please see my previous example but replace doctrine with beanstalk. Place that after the 'Application' entry in 'modules'.

[2017-04-03 05:57] iit2011081 commented on #197
I done what you said, still getting same error.
Now my application.config file is like this
[code]
This is my controller
[code]
My controller is extending AbstractActionController i.e. why $this-queue is unknown to this controller.

[2017-04-03 10:57] basz commented on #197
That's because you do not invoke the plugin correctly, see https://github.com/juriansluiman/SlmQueue/blob/master/src/Controller/Plugin/QueuePlugin.php#L56

it's signature is `->queue($name)`, so your actions would become

[code]

[2017-04-03 11:02] iit2011081 commented on #197
Now it is showing
[code]

[2017-04-03 11:30] basz commented on #197
you need to configure queue's https://github.com/juriansluiman/SlmQueue/blob/master/config/module.config.php#L57

did you read the documentation?

[2017-04-05 14:42] iit2011081 commented on #197
I read the documentation and done the following things:
Copy file slm_queue_beanstalkd.local.php.dist to config/autoload and rename it to slm_queue_beanstalkd.local.php. In this I don't need to change the configurations.

Then I copy the slm_queue.global.php.dist file to config/autoload and rename it to slm_queue.global.php and changed the following things:
[code]
In my module.config.php I added f

[2017-04-05 15:03] basz commented on #197
Almost, you are trying to add a queue named `email`.

    'slm_queue' => [
        'queues'            => [
            'email' => [
                // options for the BeanstalkdQueueFactory uses to instantiate a queue
            ]
        ],

you could change `slm_queue.global.php` to include this directly, no need to add it to your `module.config.php`.

        'queue_manager'     => [

[2017-04-06 17:22] davidwindell commented on #192
Could it be to do with the manual setting of the metadata in our Abstract Job? i.e. `setMetadata`?

[code]

The only other thing I can see is one of the array keys that we send to `$job->setContent()` is called "metadata" too.

[2017-04-06 19:20] basz commented on #192
looking at Zend\Stdlib\Message that (metadata in content) should not be a problem.

I would suggest avoid using __XXX__ as metadata keys. we use __id__ for example, but there are others too. consider __ as private to slmQueue

[2017-04-06 19:40] basz commented on #192
do you have the data of a payload that fails?

i don't understand how your metadata could be :
[code]
should atleast have a __name__ too. see https://github.com/juriansluiman/SlmQueue/blob/master/src/Queue/AbstractQueue.php#L100

[2017-04-07 12:45] davidwindell commented on #192
I'll get some detailed logging setup when I'm back from holiday in a week or so. Thanks!

[2017-06-12 13:37] svycka commented on #199
@basz maybe you can share code how you implemented this in zend-expressive? would be great help :) its not that simple as just writing console commands. I hope you did this with symfony/console but that's not that important.

[2017-06-12 13:43] basz commented on #199
https://gist.github.com/basz/6411860cd72404543e39a325ece328e5

[2017-06-12 13:44] basz commented on #199
I think that's it. Scanning my source quickly I don't believe you need to do much more (besides adding the config to autoload). Ofcourse the controller plugins won't work

[2017-06-12 14:11] svycka commented on #199
hmm what you did with this https://github.com/juriansluiman/SlmQueue/blob/a4f09a1c4dece7fd2d94498249affb8dea7e07b1/src/Factory/WorkerFactory.php#L25 this event manager is configured in zend-mvc but I guess we could just do `new EventManager()` no or I will have to create alias for this?

[2017-06-12 14:20] basz commented on #199
i see what you mean;

I have this in my config/container.php

[code]

[2017-06-12 14:30] svycka commented on #199
so I have to have zend-mvc as dependancy? :(

[2017-06-12 14:36] basz commented on #199
I'm sorry I knee deep in some other stuff; I guess what you need is an implementation of EventManagerInterface. I don't *think* it needs to come from the (mvc) service locator. There is no event messaging outside of the packages. `new EventManager` should do. Are you planning on removing the dependency? In my current project I just live with it even while its a expressive app and nothing else uses

[2017-06-12 15:36] svycka commented on #199
I am thinking maybe its possible to do it in this module create new eventmanager instead of getting it from service manager would it introduce any BC break?

[2017-06-12 16:16] basz commented on #199
I think in general it is not a problem and only a breaking change for anyone who is listening to events through the 'global' event listener.

Not sure who or why does that

[2017-06-12 19:06] svycka commented on #199
I have created PR for this https://github.com/juriansluiman/SlmQueue/pull/201

[2017-07-25 11:11] sha1 opened #203 "xxx"

[2017-07-25 11:12] #203 closed

[2017-07-28 13:15] roelvanduijnhoven commented on #84
This has been bothering me for some time. I was about to raise an issue on it.

Shouldn't be that hard as we simply broaden the API.

Is everybody still :+1: on this one? If so: I'll take a stab at it!

[2017-07-28 13:20] roelvanduijnhoven commented on #84
Actually I would also want to propose that one can also set metadata. If we do that one can simply add any job completely without having to instantiate anything. That would be ideal!

We can model that by adding an optional third parameter to the methods. We can also add this to the Controller plugin to match it.

[2017-07-29 08:21] roelvanduijnhoven commented on #84
Sorry for the stream of updates!

I'd like to propose to create a value object `JobDescription` that is composed of three values: `name`, `payload` and `metadata`. It has thus enough information to instantiate any job.

We now introduce a new method `pushByDescription` to the queue that accapts a single `JobDescription` value.

[code]

What does this bring us? This way we can
* Create jobs without

[2017-07-29 13:17] basz commented on #84
I'm not so sure... What do you mean by factory methods exactly?

I understand the `new Job($dependency)` is a PITA when its dependencies are needed for execution only.

possible solutions;
1. But in those cases a named constructor with some [reflection](http://php.net/manual/en/reflectionclass.newinstancewithoutconstructor.php) could solve that issue.

[code]

IMO you don't need an extra VO for th

[2017-07-30 12:14] iit2011081 commented on #86
@tapankumar Could you please help me with slm queue? I tried but I think I am doing some silly mistake, When I am pushing a job in the queue it is giving me NULL.

[code]

[2017-07-30 13:03] iit2011081 commented on #197
Sorry for replying after a long time. I removed everything and tried to use it from start and I think I am near to completion (unlike earlier I am not getting internal server error), but I am getting NULL response when pushing job in the queue.

[code]
In my module.config.php I have added this
[code]
I don't know which command to run first,
route one which is responsible for pushing job in queue
o

[2017-07-30 14:39] basz commented on #197
Null is correct as nothing is support to be returnwedstrijd by 'push'. See https://github.com/juriansluiman/SlmQueue/blob/master/src/Queue/QueueInterface.php

As for the Error I cant yell from this Error but im thinking you are missing Some configuration option for beanstalk. Enable exception tracing when you are developing. It will tell exactly where the error comes from and gives clues about how

[2017-07-30 14:44] basz commented on #197
Oh and on the 'order'. You normally start a worker and keep it running (manual is fine for development in production you would use something like supervisor). The worker will query the beanstalk server for any available job to be executed. Then in application you push jobs to the queue whenever you need to. So the order in which you run them should not matter. Job -> queue -> worker

[2017-07-30 14:46] iit2011081 commented on #197
@basz Thanks a lot, it was my bad I was running php index.php queue beanstalkd email on my some other application not the one in which I am working right now, so stupid I am, finally working. Once again thanks.

[2017-07-30 14:49] iit2011081 commented on #197
One more things, what is supervisor and how to use it, any link ?

[2017-07-30 15:19] basz commented on #197
good! pls close issue if you feel it has been resolved

https://serversforhackers.com/c/monitoring-processes-with-supervisord

[2017-08-01 09:48] roelvanduijnhoven commented on #84
Thanks for the response; much appreciated!

So let me first reiterate what my problem is: there is now no sane way to communicate the creation of a job given some domain models.

Having said that; let's look at solutions:

* __Optional dependencies__: IMO we are reusing / mixing the job instance for a task that is was not designed to do. It also really feels awkward / buggy having an instance that

[2017-08-01 10:59] basz commented on #84
I think I feel what your getting at... the reuse of the job class for 'descriptions' and 'execution' class does get in the way sometimes. so i don't mind of improving it such that domain logic would be better expressed.

Wouldn't an named constructor`MyJob::fromInvoice(Invoice $invoice)` work just as good? I worry introducing an additional Description class is not the correct way to go around inst

[2017-08-01 11:23] roelvanduijnhoven commented on #84
This is the __Optional dependencies__ solution. And indeed; the best way to do it now IMO. But it does require a partial / mixed job instance.

Yes. I guess it would be better to introduce a new method `pushByDescription` or something similar. I'm actually not too fond of the `JobDescription` name myself.

Thanks for helping!

[2017-08-01 13:55] prolic commented on #84
I read through the thread, and maybe I am totally wrong here, just my thoughts. Take it as advice or reject it as you wish.

The problem is coming from not following the `Single Responsibility` principle. You have a Job objects (which describes a job) and you want to have a possibility to execute this job. When you look at the real world, jobs are not executed by themselves, jobs are executed by w

[2017-08-02 08:15] roelvanduijnhoven commented on #84
@prolic I see what you are aiming at. The solution solves the same set of problems I'd like to solve. But it does seem like a major BC compared with what SlmQueue is today. And given the activity on this repo I don't think that will be such a smart move.

My proposal instead tries to add an additional way to instantiate a job via a value object (`JobDescription`, but name could be different). In t

[2017-08-04 09:15] roelvanduijnhoven commented on #84
I'll update myself. The thing I dislike about the approach mentioned before is that it does not promote correct separation. And a other minor point is that the call-side needs to known whether the job is binary or not. I think we can improve on that.

__Reflection__
We can use reflection to do so. But it will only work if we now for certain that each job name that is used maps directly to a valid

[2017-08-04 11:34] basz commented on #84
JobProxy seems a clever trick! But I think we are over complicating. Since there is no clear `Single Responsibility` as prolic has pointed out and such will not land without major BC and since a Job instance can be considered a VO for push onto the queue I don't see why the suggested would not work.

A named constructor on the job that uses reflection to skip calling the constructor and your done?

[2017-08-07 06:47] roelvanduijnhoven commented on #84
You are right. The trick you described earlier is a better way of doing things (vs what I suggested with `JobProxy`). I'll start using it at this point in time; and see how well it works outs.

It would be nice to land such a feature in the repo itself. But all solutions have their limitations!

I'll drop this for now; and simply start using the reflection method. Maybe I'll come up with something

[2017-08-14 09:46] roelvanduijnhoven opened #204 "Log all exceptions"
I am debugging a case where an exception is thrown from a job. However the exception I am interested in is in the `$previous` field. The problem is that the stack trace written to `$message` does *not* contain that one. Thus I can not see what is going wrong!

So a solution could be to improve upon the build-in logging. As is done for example in Monolog (https://github.com/Seldaek/monolog/blob/mas

[2017-08-17 14:37] iit2011081 commented on #197
I am unable to use $queueManager in any other module except Application module. On var_dump it is showing null while it give me some object when I use the same in Application module. Do I need to change anything to use it in other modules.
`$queueManager = $this->serviceLocator->get('SlmQueue\Queue\QueuePluginManager');`

[2017-08-18 08:51] basz commented on #197
no, it should work.

I think something else is happening because if a service isn't registered an exception is thrown when you by the serviceLocator.

Also make sure you are getting it from the correct serviceLocator. Sometime the context (eg.  from with a controller) is different then the main one. You can get to the parent by using `$this->serviceLocator->getServiceLocator()`.

Another tip: are

[2017-08-21 11:43] #197 closed

[2017-08-22 08:15] mstrychalski commented on #130
The problem is still not resolved and I have not been able to solve it yet. But we've tried to use swiftmailer instead of zend mail, and everything is working like a charm now. I suggest to switch to it if you have similar problem, and can switch library.

[2017-09-29 16:33] iit2011081 opened #205 "How to push one job from inside of another job ?"
Till now I am pushing job in a queue from controller but I also want to push one job from another job. The main problem here is access of QueuePluginManager. I can access  QueuePluginManager in controller like this `$this->serviceLocator->get('SlmQueue\Queue\QueuePluginManager')` , but how to access it within a Job, is it possible ?

[2017-09-29 18:24] basz commented on #205
Make your job implement the [queue aware interface](https://github.com/juriansluiman/SlmQueue/blob/master/src/Queue/QueueAwareInterface.php). Then you are able to push a nee job from within a running job.

[2017-10-17 14:17] roelvanduijnhoven opened #206 "Remove ZF2 from repo tagline"
We should reflect that this repo works also on ZF3. I would suggest simply dropping the 2.

See:
![schermafdruk van 2017-10-17 16-16-33](https://user-images.githubusercontent.com/91910/31669870-920d7be2-b356-11e7-8e7e-3a4c1a76143d.png)

[2017-10-17 15:17] basz commented on #206
we should, but i'm not the repo owner, just a mere contributor with commit rights. Don't think I can get to settings...  /cc @juriansluiman

[2017-10-17 18:59] juriansluiman commented on #206
I changed the tagline. Because I am not active in the php community anymore, I can change ownership as well. If any want to volunteer, let me know.

[2017-10-17 18:59] #206 closed

[2017-10-17 21:01] basz commented on #206
I volunteer jurian

[2017-10-18 15:36] #205 closed

[2017-10-20 12:37] roelvanduijnhoven commented on #206
Me and team would be willing to help.

We have been contributing to this product as we are actively using it. We are utilizing multiple queue's for all sorts of reasons. One idea could be to host the repo as part of that organization: https://github.com/jouwweb.

But I do not want to get in the way of @basz. Just an idea!

[2017-10-20 12:55] basz commented on #206
As long as the project stays maintained I really don't mind which way we go. I would like to stay contributor. Perhaps a team supporting this would be best...

[2017-10-20 13:29] roelvanduijnhoven commented on #206
Then are goals are properly aligned ;)..

Anyways: I was not planning on doing anything radical. So contributors would stay in place. And you still have direct commit permission and authority. I hope the people that are actively involved keep doing so. In fact: I hope on some good discussion with y'all as we maintain this thing!

[2017-11-03 08:24] boesing opened #208 "[Feature] Segregating JobInterface into executable and read/writable"
Hey there,

I am actually implementing a Queue/Worker project, which should be able to deploy multiple workers on multiple machines. I would love to create a Project, which handles the queuing itself (e.g. over an API) and a worker project, which just fetches a job and executes it.

Actually, I have to configure both projects (API and Worker) to interact with the Queue and with another Project, ju

[2017-11-04 14:08] basz commented on #208
IMO this is not a feature I would invest my time in. But if you provide a good PR I’m willing to have a look and consider it. No issues with BC.

[2017-12-21 10:41] roelvanduijnhoven commented on #206
This repo is currently lacking attention. See for example the wonderful PR https://github.com/juriansluiman/SlmQueue/pull/209 that is being ignored.

Maybe this is a good time to actually move the repository. According to https://github.com/juriansluiman/SlmQueue/pull/209 it is as simple as moving the repository to the `JouwWeb` organization and updating the url on packagist.

@juriansluiman @basz

[2017-12-21 11:24] basz commented on #206
It is true attention is lacking... (sorry) I don't mind transfering. However I don't think you can rename a composer package. So, why not commit rights for you?

[2017-12-21 11:46] roelvanduijnhoven commented on #206
@basz Making you and me Admin for this repo would work as well I guess.

It really depends on what @juriansluiman wants to do this this repo. I also don't mind keeping it here, as long as we can keep it better maintained.

Related to that. The name could be identical. Namely `SlmQueue`. But it would reside under https://github.com/JouwWeb/SlmQueue.

[2017-12-22 14:18] juriansluiman commented on #206
I can transfer the repo, as I have (almost) zero time for php, so maintaining something is not possible anymore. Transferring is preferred to give contributors full access to all they need instead of managing settings via me. If OK, I'll transfer to JouwWeb. Let me know if anything has to happen about composer.

[2017-12-22 14:19] juriansluiman commented on #206
BTW, I tried transfering to basz but as he had already a repo SlmQueue, that failed. Failure to me to make any notice about this. JouwWeb/SlmQueue is free, otherwise @basz  has to rename his SlmQueue first

[2017-12-22 14:21] roelvanduijnhoven commented on #206
Regarding any changes necessary. Besides the transfer to JouwWeb; can you add me and @basz on Packagist as maintainer? With that and access to the repo we should have enough access to make sure the migration goes smoothly.

[2017-12-22 14:25] juriansluiman commented on #206
Packagist: done
Transfer: "You don’t have the permission to create repositories on JouwWeb" ?

[2017-12-22 14:27] roelvanduijnhoven commented on #206
@juriansluiman Made you part of our team. Does that help?

[2017-12-22 15:10] juriansluiman commented on #206
Nope, not sure what happens. Earlier I've transferred to @basz which went ok. I can transfer to @roelvanduijnhoven personal account, so you can transfer in into JouwWeb. However, you also have a personal SlmQueue which you have to rename first (just like bas otherwise)

[2017-12-22 15:13] roelvanduijnhoven commented on #206
@juriansluiman Removed my forks.

[2017-12-24 09:39] juriansluiman commented on #206
@roelvanduijnhoven had to accept your invite first... Transfer done now to JouwWeb, you can remove me from the team :)

[2018-01-03 09:55] roelvanduijnhoven commented on #208
I'll close this one as it really not an issue.

[2018-01-03 09:55] #208 closed

[2018-01-03 09:57] roelvanduijnhoven commented on #199
@svycka The PR got merged. It is now (kinda?) usuable without ZF. Should we close this issue? Or are there tasks pending still?

[2018-01-03 10:00] roelvanduijnhoven commented on #192
Any update on this @davidwindell? Have not heard anyone else or encountered this myself. Will close for now; but feel free to open if you have new info!

[2018-01-03 10:00] #192 closed

[2018-01-03 10:03] roelvanduijnhoven commented on #177
@jackdpeterson Are you still using this repo? And if so: how did you end up fixing this? Maybe we should include some words of advise or provide default configuration that will make sure that working with databases is no problem out of the box.

In the upcoming release we will include a strategy that limits the time a worker may live. So that may definitely help.

[2018-01-03 10:04] svycka commented on #199
@roelvanduijnhoven there is one https://github.com/JouwWeb/SlmQueue/pull/202 PR but I guess we can close this

[2018-01-03 10:05] roelvanduijnhoven commented on #174
Is this still a problem @jackdpeterson? Will close for now; but feel free to reopen with some details.

[2018-01-03 10:05] #174 closed

[2018-01-03 10:08] roelvanduijnhoven commented on #166
As we are way past 0.5 I'll close. But feel free to reopen or raise other issues if ideas from this topic still interest you @bakura10!

[2018-01-03 10:08] #166 closed

[2018-01-03 10:08] #163 closed

[2018-01-03 10:10] roelvanduijnhoven commented on #162
I'll close this one as it more than two years old. Feel free to open new issue if ideas still relevant and / or interested in fixing! :)

[2018-01-03 10:10] #162 closed

[2018-01-03 10:10] roelvanduijnhoven commented on #160
I'll close this one as it more than two years old. Feel free to open new issue if ideas still relevant and / or interested in fixing! :)

[2018-01-03 10:10] #160 closed

[2018-01-03 10:10] roelvanduijnhoven commented on #157
I'll close this one as it more than two years old. Feel free to open new issue if ideas still relevant and / or interested in fixing! :)

[2018-01-03 10:10] #157 closed

[2018-01-03 10:11] roelvanduijnhoven commented on #153
@stefankleff I don't think the Redis adapter is going anywhere right ;).

[2018-01-03 10:12] stefankleff commented on #153
Not really. I'm working now in another company and where it is not used.

[2018-01-03 10:28] roelvanduijnhoven commented on #143
The return status of jobs is thus not used; but the docs state that they do.

We could release the next major version; and require plugins to update to make sure they'll correctly handle the status returned by a job's execute method. The next Doctrine release could drop the exception mechanism and use the Value objects returned.

However in order for this to work the value options should have an o

[2018-01-03 10:30] roelvanduijnhoven commented on #130
Thanks for the update @mstrychalski. I'll close this for now though; because this repo does nothing with SSL or mail and I think the problem lies outside this repo

[2018-01-03 10:30] #130 closed

[2018-01-03 10:31] roelvanduijnhoven commented on #117
I'll close this one as it more than two years old. Feel free to open new issue if ideas still relevant and / or interested in fixing! :)

[2018-01-03 10:31] #117 closed

[2018-01-03 10:36] roelvanduijnhoven commented on #84
I have been using the trick you mentioned @basz for some time, and it is working excellent. I suggest we rewrite the docs such that we promote this style.

That being:
[code]

That one can schedule from a controller as:
[code]

[2018-01-03 10:41] MatthiasKuehneEllerhold commented on #130
@mstrychalski This could be a problem with the maximum connection lifetime. The SMTP Server will close the connection if nothing is sent over it after a while. Even if you constantly send a ping or NOOP, there is a maximum connection lifetime setting for most servers. Meaning they'll close the connection regardless.

What you have to do with zend-mail is recreate the connection every so often, see

[2018-01-03 10:43] roelvanduijnhoven commented on #17
@bakura10 Could you elaborate how you would like to see this work?

I think this would be helpful. Now lots of behaviour is copied in each adapter (for example burying or using delay). And that could be pulled into this repo if we use feature detection of some kind.

[2018-01-03 10:44] roelvanduijnhoven commented on #28
I'll keep this open as enhancement. If anyone wants to go ahead and implement we'll happily merge!

[2018-01-03 10:47] roelvanduijnhoven commented on #168
@jackdpeterson What would your suggestions be going forward?

We could also adapt the SQS queue such that a push of job that is greater than 256kb is not allowed. That would mitigate any strangeness, right?

[2018-01-03 10:47] roelvanduijnhoven commented on #204
Should first look into this myself.

[2018-01-03 10:47] #204 closed

[2018-01-03 10:53] roelvanduijnhoven commented on #130
Mm. What about introducing a section in this repo that gives some general hints about problems with long-connectivity @MatthiasKuehneEllerhold? We know this is also a problem with database connections :thinking:.

If you like the idea; would you be willing to add a PR regarding the SSL connection to a section in the docs?

[2018-01-03 10:53] #199 closed

[2018-01-03 10:59] MatthiasKuehneEllerhold commented on #130
This problem is not specific to SSL connections because the same happens with HTTP connections.

The error message is different on a plain HTTP connection:
[code]

But I'm not sure if its the same error that @mstrychalski describes. He switched libraries and the error was gone. I dont know if his new library has the auto-reconnect feature that zend-mail misses (until my PR is merged).

Adding some

[2018-01-03 11:06] roelvanduijnhoven commented on #130
No problem @MatthiasKuehneEllerhold, mention me when you have something and I'll gladly give feedback :).

[2018-01-03 16:24] basz commented on #143
My thoughts;

- will need new major version
- related to https://github.com/JouwWeb/SlmQueue/issues/17
- can Interfaces define static methods? I don't think so...
- we could also consider to drop QueueAwareInterface as that is primarily used to interact with the queue from within the Job. Also the 'aware' thing is a ZF thing. It currently doesn't really help because the queue methods from the adap

[2018-01-03 21:53] jackdpeterson commented on #168
I would suggest throwing something along the lines of

`throw new \InvalidArgumentException(self::BODY_TOO_LARGE_MESSAGE,self::BODY_TOO_LARGE_CODE)
`
if the size of the message body is > 256kb. That would be an explicit way to handle the issue for SQS. Adding documentation to the same tone would probably be beneficial where the developer using SlmQueue is instructed that messages in a queue should

[2018-01-04 05:06] jackdpeterson commented on #177
I set up supervisord and configured jobs to kill after X amount of time and auto-restart the jobs. That was the simplest solution at that point in time.

[2018-01-04 05:17] jackdpeterson commented on #177
To answer your other question, I do have a project that is actively using SlmQueue. That being said, I’ve been transitioning most of my projects over to Slim and away from the ZF ecosystem.

[2018-01-04 07:43] roelvanduijnhoven commented on #130
Issue #177 is similar. Let's use that to keep track of this effort.

[2018-01-04 07:43] roelvanduijnhoven commented on #177
Thanks. Some work is done recently to make this lib usable without having ZF. Not sure how easy that is though. But you could give it a show when you find yourself in need of some new project.

Anyway; we will update the docs soon with some FAQ / tips when working with long connectivity and some hints how to solve them.

[2018-01-04 08:04] roelvanduijnhoven commented on #168
I *do* use the Doctrine queue with large payloads. So I guess it really depends on what storage engine you have. So I would say it makes sense to implement these checks only locally on the adapters.

If we first implement https://github.com/JouwWeb/SlmQueue/issues/28 we can then let the SQS queue throw such exception. I'll rename the PR.

[2018-01-04 08:12] roelvanduijnhoven commented on #143
@basz In what way is it related to #17? I miss that link.

Does any of you see any gains / wins if we were to refactor this? I mean it *is* a BC; so you should hope that this does enable some new behaviour. The original issue is fixed by simply updating the docs.. :thinking:

[2018-01-04 12:14] basz commented on #143
rereading i don't now exactly why #17 would be related. 'whateverspecifictosomeadapted' feels like an interface defined by the adapter. so nvm...

I also don't see any immediate feature benefits from refactoring (good point though!). So I guess a change like discussed will mainly mean a better thought out API, which *might* lead to more features in the future. But honestly the thing work as is for

[2018-01-04 14:56] MatthiasKuehneEllerhold commented on #177
@jackdpeterson said:

According to the docs the default values for this is 8 hours. (See [MySQL Docs](https://dev.mysql.com/doc/refman/5.7/en/server-system-variables.html#sysvar_interactive_timeout) "connect_timeout", "wait_timeout" and "interactive-timeout").
Can you confirm that you've changed these options or does MySQL kill connections after 1 hour despite configured to wait 8 hours? I've had

[2018-01-04 15:53] jackdpeterson commented on #177
For our application extending the wait time wasn’t an option. The easiest approach in our case was to use one of the methods mentioned above — have an in-process timer running (safest) or have the process die midway through and re-run through the queue redelivery methods. All jobs should be engineered to be able to safely rerun anyways as a core assumption.

Get Outlook for iOS<https://aka.ms/o0uk

[2018-01-05 08:36] roelvanduijnhoven commented on #143
Thanks for the input. I'll close it in that case: I resolved this issue for now by removing the relevant part from the docs via https://github.com/JouwWeb/SlmQueue/commit/23244fee24f841dbff848aaf126d4f67a42aee9d.

Let's keep this open as an enhancement for now!

[2018-01-26 14:03] makasim opened #215 "Consider using queue interprop as abstraction for queues"
Hello!

Please look at https://github.com/queue-interop/queue-interop project. Using interfaces from it allows us reuse some implementations like enqueue, which supports a lot of transports. You can outsource some code

[2018-06-06 13:36] chris1312 opened #217 "RabbitMQ support"
Are there any known RabbitMQ adapter-modules for SlmQueue?

[2018-06-06 20:16] basz commented on #217
not that I'm aware of no. wold be nice to have though ;-)

[2018-07-06 14:52] boesing opened #218 "zend-component-installer compatibility is incorrect"
You have to change the `module` entry within `composer.json` to `SlmQueue` instead of `SlmQueue\Module` as you have to provide the module name instead of the FQCN to the `Module` class.

Pull Request is already created by @TomHAnderson in #216

[2018-08-26 07:10] abdullah-aghayan opened #219 "issue in insert into the queue"
I have had problem with insert in to queue which when I start job so I can't insert into queue anymore but when job not working(stop) it's inserted correctly
Do you know what I should do?

[2018-08-26 09:40] basz commented on #219
Do I understand you when you say;

When a job is running you are unable to is insert new jobs?

If so; that is strange. Job insertion and job execution are not related.

- What error do you get, if any?
- Which SlmQueue adapter are you using?

[2018-08-26 11:00] abdullah-aghayan commented on #219
I use Doctrine adapter but I don't detect any error during run time.
The point is in my local it's working correctly but in server it dosen't work with the same configuration.

[2018-08-26 11:10] basz commented on #219
I can only advise you to do some debuging in the Queue class’es push method unless you provide more information.

[2018-08-27 07:13] abdullah-aghayan commented on #219
I think my problem is put job command in cron job in following way so it's not working correctly .
`run-one php public/index.php queue doctrine import --start`
Do you have any idea how can I run  it on server which still running any time?

[2018-08-27 07:33] basz commented on #219
Running via cron should work. Although supervisor or similar is recommended.

See: https://github.com/JouwWeb/SlmQueue/blob/master/docs/7.WorkerManagement.md

[2018-10-09 10:29] roelvanduijnhoven commented on #218
Excuse me for our my late reaction @boesing. Apparently I didn't watch this repo; and thus missed any updates to it. Merged the PR of @TomHAnderson; thanks both of you! I have published a new minor release.

[2018-10-09 10:29] #218 closed

[2018-10-09 10:30] roelvanduijnhoven commented on #219
I'll close this issue for now. Once you have more information; feel free to re-open.

[2018-10-09 10:30] #219 closed

[2018-10-09 10:31] roelvanduijnhoven commented on #217
I'll mark as an enhancement :). Feel free to contribute @chris1312.

[2018-10-09 10:34] roelvanduijnhoven commented on #215
I have no idea if the spec is compatible with this repo; and what changes would be required to make that happen. Feel free to look into it; and present a strategy or POC of what this would require @makasim.

[2018-10-09 10:35] roelvanduijnhoven commented on #177
I'll close this issue. With work of @MatthiasKuehneEllerhold  on https://github.com/JouwWeb/SlmQueue/pull/214 this is improved!

[2018-10-09 10:35] #177 closed

[2019-09-04 20:43] tantoniazi opened #221 "problem zend 3"
after step by step zend doesn't recognize queue interface

Too few arguments to function WS\Controller\WSController::__construct(), 0 passed in /var/www/../vendor/zendframework/zend-servicemanager/src/Factory/InvokableFactory.php on line 30 and exactly 1 expected

i Can not use

my module.config.php

return [
    'router' => [
        'routes' => ...
    ],

    'controllers' => [
        'factori

[2019-11-22 14:42] aurum86 commented on #217
Hi, we have rnd-cosoft/slm-queue-rabbitmq in Packagist: https://packagist.org/packages/rnd-cosoft/slm-queue-rabbitmq
It has its first major version and ready to be used. :) Could this be added in SLM readme as a suggested package for RabbitMQ ?

[2019-11-25 07:20] roelvanduijnhoven commented on #217
@roelvanduijnhoven Sure!

Feel free to send in a PR. I'll happily merge :heart:

[2019-11-25 14:37] roelvanduijnhoven commented on #217
Thank you @aurum86!

[2019-11-25 14:37] #217 closed

[2020-01-13 14:57] iwyg opened #223 "zendframework -> laminas"
Hi there!
Are there any plans porting this project to the laminas namespace, and if so, do you need help?

Kind Regards

[2020-01-14 08:05] roelvanduijnhoven commented on #223
No plans yet @iwyg. But absolutely interested in migrating! If you would be so kind to help us on this, please be my guest, and tag me if you need any help or reviews.

I tagged this issue as enhancement.

[2020-01-16 09:17] roelvanduijnhoven opened #224 "Companies using SlmQueue?"
I'm interested to know how many companies are actually using this library for their company. Feel free to drop a comment below with a link to your product. I'll update the issue with these responses.

* [JouwWeb](https://jouwweb.nl/)

[2020-01-16 10:53] basz commented on #224
[Podolab Hoekschewaard](https://plhw.nl/software) for our [online ordering system](https://lab.plhw.nl).

[2020-01-16 11:00] roelvanduijnhoven commented on #224
I tagged you because you once raised an issue or contributed to SlmQueue. Hope you don't mind the spam. Would love to know if any of you use SlmQueue in one of your products. If so, and you would like to be listed on this issue, please comment with the product name / company name and a link. Cheers! :call_me_hand:

CC @itailulu, @antonycox, @jackdpeterson, @malinink, @davidwindell, @iit201108, @ch

[2020-01-17 09:41] boesing commented on #224
I've used it in the past, but after my PR got never merged https://github.com/JouwWeb/SlmQueueBeanstalkd/pull/60 I dropped it.

The idea was good but this aint maintained anymore.
Since then, I am still waiting for a stable https://github.com/bernardphp/bernard but this will never happen.
Therefore, I gave up using a generic queue handler system and implement the most official library to adapt the

[2020-01-17 09:45] basz commented on #224
It was probably never merged because the original maintainer(s) have left php development and moved on to other things. I believe nobody had access to it that variant. Now that all sim-queue variants are unified under a new owner this might change... I personally have taken care of slm-queue-doctrine.

[2020-01-17 10:12] iwyg commented on #224
We're using it on two of our services (communal information system + digital signage), mostly for dispatching email notifications & updating news feed on the signage systems.

[2020-01-17 11:38] davidwindell commented on #224
We use it @outeredge on our project management/ticket system, http://zebreco.com/

[2020-01-17 11:45] roelvanduijnhoven commented on #224
@iwyg May I ask what company you are working for? I'll add that one to the list.

@davidwindell Thanks! It's on the list now :).

[2020-01-19 05:50] jackdpeterson commented on #224
Not using this module anymore now that I’m not doing ZF based projects; I appreciate the abstraction of this module for sure, and it may be useful in the future ... but it’d need to have less framework coupling. Something I once considered writing and extending ... but didn’t have corporate support to dedicate the time to doing so.

[2020-01-19 08:02] abdullah-aghayan commented on #224
We have been using it on production with beanstalkd and supervisord

[2020-01-27 08:35] roelvanduijnhoven commented on #224
@abdullah-aghayan May I ask for what company / product?

[2020-01-27 10:30] basz commented on #223
see https://github.com/JouwWeb/SlmQueue/pull/225

[2020-01-29 08:39] roelvanduijnhoven opened #227 "What to do before 2.x?"
The latest work on Laminas and the bump to PHP >= 7.2 will require a major bump to 2.x.

A good moment to ask ourselves: is there other stuff we want to deprecate or remove at this point?

Do you have thoughts on this @basz, @bakura10?

@bakura10 I also asked you, as you are listed as contributor to this repo at this point :).

[2020-01-29 09:06] basz commented on #227
these come to mind

- deprecate laminas-mvc controller commands, in favour of Symfony commands (see https://github.com/JouwWeb/SlmQueueDoctrine/issues/150)
- remove support for laminas-service-manager v2 in factories (https://github.com/JouwWeb/SlmQueueDoctrine/blob/master/src/Factory/DoctrineWorkerControllerFactory.php#L31)

[2020-01-29 09:55] #223 closed

[2020-01-30 15:20] roelvanduijnhoven commented on #193
@basz Do you think this yields a serious improvement?

Also: can this be done in a minor version, or does this need a major bump?

[2020-01-30 15:24] roelvanduijnhoven commented on #227
@basz

I removed the old style factories today!

This repo does not use console at all, right? But I agree we can do that in the bump from SlmQueue to SlmQueueDoctrine :).

Dropped comment in that issue.

That would indeed require a major bump. As would https://github.com/JouwWeb/SlmQueue/issues/17. But the gains are also very minimal if you ask me. If you want to do it, feel free, and we can post

[2020-01-30 16:48] basz commented on #193
I’m reading it’s a non-negligible performance difference. Not sure into which numbers that would translate, but here is some info

https://weekly-geekly.github.io/articles/179075/index.html

https://blog.pascal-martin.fr/post/php71-en-other-new-things/

But yes, this could be changed at a later moment.

[2020-01-30 16:50] basz commented on #227
👍

[2020-01-31 11:38] #227 closed

[2020-01-31 11:39] roelvanduijnhoven commented on #227
Feel free to :ship: @basz. Can do it as well, but since you did the heavy lifting :).

[2020-03-13 16:42] internalsystemerror opened #231 "MVC is required"
https://github.com/JouwWeb/SlmQueue/blob/d59a3b47ec44cb8f3bc1b861cf5d3c6509b54cc4/src/ServiceManager/AbstractPluginManager.php#L5

The above referenced line requires the installation of laminas/laminas-mvc. Is this interface required? I'm using Mezzio (previously Zend Expressive) and trying to use this library so I don't use Laminas MVC.

[2020-03-16 10:36] roelvanduijnhoven commented on #231
@internalsystemerror We provide a Plugin for Laminas controllers in this repo. That one _does_ depend on MVC.

But you are correct that the code you reference should not have to depend on laminas MVC. I created PR https://github.com/JouwWeb/SlmQueue/pull/232 to address this.

Once lights are green I'll ship a new release.

[2020-03-16 11:59] roelvanduijnhoven commented on #231
Fixed in https://github.com/JouwWeb/SlmQueue/issues/231. Released a new version.

[2020-03-16 11:59] #231 closed

[2020-05-18 13:10] obstschale commented on #224
Our company @churchtools uses SlmQueue. We use currently in our new accounting module to create a bunch of PDFs.

[2020-06-04 15:23] roelvanduijnhoven commented on #143
I am myself updating one of my applications, and some things are bothering me now, that are related to this issue. I'll reopen this one.

With the introduction of type we now need to do this to get a proper job:

[code]

Which is quite painful for several reasons:

* You are directly confrontend with the `?int` signature that is no longer used.
* You _need_ to end with a return `null` call. The `r

[2020-10-09 14:30] settermjd opened #235 "I can't retrieve a queue from the QueueManager when working with Mezzio"
I'm trying to use the library, along with `rnd-cosoft/slm-queue-rabbitmq` with a Mezzio application, and for the most part everything works just fine. However, when I try to retrieve the default queue, or any queue, from the QueuePluginManager, I'm unable to. I get two errors, depending on what I try to do:

I get this one if I use a string name, such as "default".

[code]

I get the following err

[2020-10-12 07:26] roelvanduijnhoven commented on #235
@settermjd The way you initialize and call looks correct to me! I have no experience myself with using the RabbitMq version, but that _should_ run just fine.

This is the correct way to get access to the queue. So it really _should_ respond with a queue instance.

Do you mean you can actually run jobs from the queue? But it will only fail when you programmatically try to access the queue?

Are you

[2020-10-14 22:42] taat opened #236 "Using slm/queue with slm/queue-beanstalkd"
How can I use SlmQueue with beanstalkd?

Looks like https://github.com/JouwWeb/SlmQueueBeanstalkd does not support Laminas yet
(used in SlmQueue 2.0)
Composer complains about Zend Framework dependencies.

[code]

[2020-10-15 07:50] roelvanduijnhoven commented on #236
@taat The SlmQueue and SlmQueueDoctrine projects _are_ actively maintained, and work with Laminas. This library is however not up-to-date at the moment.

Main problem being no one in our team actually uses Beanstalk.

Would you be willing to help with creating a PR? I could obviously assist, and make sure a new release is created right after we fix this.

[2020-10-15 07:52] roelvanduijnhoven commented on #236
I'll leave this one opened, because we mention this library in this repo but it does not work. But let's iterate on this issue over here: https://github.com/JouwWeb/SlmQueueBeanstalkd/issues/66.

[2021-05-26 07:03] pimjansen opened #241 "Cleanup servicemanager"
Im using SLM queue with some jobs to send email. To do this i inject a mail class into the job. At this point im receiving SMTP timeouts which are caused probably due the fact that the process is using the same mail class from the servicemanager instead of destroying the old one and constructing a new one.

Result is that the connection remains open and at the end throws a timeout error.

Any idea

[2021-05-26 14:49] roelvanduijnhoven commented on #241
@pimjansen The service manager _by default_ reuses the service. So that is really by intent, and also how all service managers / containers work :).

If you want to connect / disconnect for each mail. You should model this yourself within either your job or your own service (call `->connect`, cal `->mail` and `->disconnect` for example).

Good luck!

[2021-05-26 14:49] #241 closed

[2021-05-26 16:41] pimjansen commented on #241
Thanks @roelvanduijnhoven! Thought that i maybe missed something just like the doctrine unit of work and such.

I will figure something out. Probably a destruct on the job itself

[2021-05-31 20:41] pimjansen commented on #224
We use it too!

[2021-06-01 06:59] roelvanduijnhoven commented on #224
@pimjansen Is this for a specific project, that I can mention at the top of this post? :)

[2021-06-01 07:49] pimjansen commented on #224
I can't say im afraid but you can mention the company though, Senet, also located in EHV

[2021-07-12 15:49] #235 closed

[2021-08-30 08:31] chris1312 opened #242 "SLM v3 as stable version"
Hi all,
Current v3 version is still marked as beta and there is no Issue for it making it stable.
Are there any development planned to make it stable apart from testing it? @roelvanduijnhoven

[2021-09-13 09:12] roelvanduijnhoven commented on #242
@chris1312 Yes there is. We are migrating our own system to the latest PHP version. And as part of that, we will need some work on this repo as well. So _hopefully_ this should all be done within the next 4 weeks or so.

But.. feel free to address a PR if you want to move faster!

[2021-11-26 14:12] trylika commented on #242
What is current situation with v3 and PHP8 support? is there anything to help for release?

[2021-11-26 14:16] roelvanduijnhoven commented on #242
Can we safely drop the beta @koenkivits  :)?

[2021-11-29 16:12] koenkivits commented on #242
@roelvanduijnhoven not yet! It still needs a bit of work:

- [ ] move the `laminas-cli` integration from SlmQueueDoctrine to this repository (so other adapters can use it)
- [ ] update the documentation (as the CLI will change)
- [ ] write a small migration guide

It shouldn't be too much work; I'll try to get a final version out this week. :) (cc @trylika)

[2021-11-29 17:44] trylika commented on #242
@koenkivits if you'll need any help, i.e. testing how/if it works, ping me :)
our project uses this library and we are looking to upgrade from PHP7.4 to PHP8.0

[2021-12-01 15:46] koenkivits commented on #242
@trylika thanks for the offer! Can I ask you which adapter you're using? :)

I've just created PRs for `SlmQueue` and `SlmQueueDoctrine` by the way:

* https://github.com/JouwWeb/SlmQueue/pull/243
* https://github.com/JouwWeb/SlmQueueDoctrine/pull/170

[2021-12-01 17:34] trylika commented on #242
@koenkivits in an odd coincidence - we are using `SlmQueueDoctrine` :)

[2021-12-02 10:59] #242 closed

[2021-12-02 11:29] koenkivits commented on #242
@trylika then you should now be able to upgrade to the latest version for PHP8 support. :)

Both `SlmQueue` and `SlmQueueDoctrine` now have an `UPGRADE.md`, which contains upgrade instructions for the current major release:

* https://github.com/JouwWeb/SlmQueueDoctrine/blob/4.0.0/UPGRADE.md
* https://github.com/JouwWeb/SlmQueue/blob/3.0.0/UPGRADE.md

I hope this is enough to get everyone up-to-da

[2022-03-21 07:39] roelvanduijnhoven opened #246 "Master does not build"
There seems to be a bug with installing current master. I'll look into this today.

[2022-03-21 09:08] #246 closed

[2022-03-22 10:41] gregtyler opened #248 "`max_frequency` only accepts integers"
The `max_frequency` setting of `MaxPollingFrequencyStrategy` determines the maximum number of polls per second. [The documentation](https://github.com/Webador/SlmQueue/blob/717effc4cde092be3d5244ec66974e3d3e30d333/docs/6.Events.md#maxpollingfrequencystrategy) provides a handy guide of how this value relates to delays. For example, a 1-minute delay equates to `['max_frequency' => 0.0167]`.

However

[2022-03-22 10:50] #248 closed

[2022-04-12 09:53] #215 closed

[2022-04-12 09:54] roelvanduijnhoven commented on #236
We archived that repo. So it is indeed no longer supported. Obviously feel free to fork, and fix if you using Beanstalkd!

[2022-04-12 09:55] #84 closed

[2022-04-12 09:56] roelvanduijnhoven commented on #193
I'll close since there has been no activity lately. Obviously feel free to open a PR with such a feature :).

[2022-04-12 09:56] #193 closed

[2022-04-12 09:56] roelvanduijnhoven commented on #168
I'll close since there has been no activity lately. Obviously feel free to open a PR with such a feature :).

[2022-04-12 09:56] roelvanduijnhoven commented on #143
I'll close since there has been no activity lately. Obviously feel free to open a PR with such a feature :).

[2022-04-12 09:56] #143 closed

[2022-04-12 09:56] #28 closed

[2022-04-12 09:56] roelvanduijnhoven commented on #17
I'll close since there has been no activity lately. Obviously feel free to open a PR with such a feature :).

[2022-04-12 09:56] #17 closed, assigned to nobody

[2022-07-30 21:04] jarrettj commented on #224
Prosus. Internal Legal Website.

[2022-08-25 17:41] MarcinOrlowski opened #252 "Updated docs about stopping the queues"
Documentation shows how to start the queue but I see no word about stopping the queue in the clean way. Can it be added please?

[2022-08-25 19:07] MarcinOrlowski commented on #252
Closing as I apparently asked the question in wrong repo.

[2022-08-25 20:05] MarcinOrlowski commented on #252
For clarification I went thru [the docs](https://github.com/Webador/SlmQueue/blob/master/docs/5.Workers.md) and from [sources](https://github.com/Webador/SlmQueue/blob/master/src/Worker/AbstractWorker.php#L42) I see that perhaps(?) I should extend [DoctrineWorker](https://github.com/Webador/SlmQueueDoctrine/blob/master/src/Worker/DoctrineWorker.php) and make it conditionally return `ExitWorkerLoop

[2022-08-25 22:51] basz commented on #252
Register the InterruptStrategy and sent the running process a signal. Eg by pressing control+c.

Any running job will finish and then the worker will exit

[2022-08-25 23:32] MarcinOrlowski commented on #252
Thanks, but this would work in my case. I forgot to mention that I run multiple my queues in background (started like `vendor/bin/laminas slm-queue:start myqueue > /dev/null &`) therefore <kbd>CTRL</kbd>+<kbd>C</kbd> is not usable. Also I need stopping to be scripted cannot go that was stopping must be scripted and I got limited possibilities on the deployment machine (i.e. I cannot send any signa

[2022-08-26 08:51] basz commented on #252
Usually you would use some process manager like supervisor or docker to run/stop these.

Not sure how you would be able stop them if you run them in the background (with &).

Maybe write a strategy that looks for a special file and if present exit just like the interupt strategy.

[2022-08-26 09:42] MarcinOrlowski commented on #252
I figured out clearer (I think) solution - I will inject a high priority job (so it will be picked up next) that only thing in `execute()` would be to return `ExitWorkerLoopResult`. That way should satisfy workers' loop and clearly terminate the worker

[2022-08-28 22:43] MarcinOrlowski commented on #252
While I still think the docs should be more clear I solved my problem now. So for future readers: the SLM defaults include  `InterruptStrategy` and that strategy will tell the worker to stop if there's `SIGTERM` or `SIGINT` sent. So all is needed here to properly shut down the worker is a) ensure `InterruptStrategy` is used and then create a job that will send that signal like

[code]

and then en

[2022-08-28 22:43] #252 closed